# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Mewnforio
export-page-title = Allforio

## Header

import-start = Teclyn Mewnforio
import-start-title = Mewnforio gosodiadau neu ddata o raglen neu ffeil.
import-start-description = Dewiswch y ffynhonnell rydych chi am fewnforio ohoni. Yn ddiweddarach, byddwn yn gofyn i chi ddewis pa ddata sydd angen ei fewnforio.
import-from-app = Mewnforio o'r Rhaglen
import-file = Mewnforio o ffeil
import-file-title = Dewiswch ffeil i fewnforio ei chynnwys.
import-file-description = Dewiswch fewnforio proffil, llyfrau cyfeiriadau neu galendrau sydd wedi'u cadw wrth gefn yn  flaenorol.
import-address-book-title = Mewnforio ffeil Llyfr Cyfeiriadau
import-calendar-title = Mewnforio ffeil Calendr
export-profile = Allforio

## Buttons

button-back = Nôl
button-continue = Parhau
button-export = Allforio
button-finish = Gorffen

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Mewnforio o osodiad { app-name-thunderbird } arall
source-thunderbird-description = Mewnforio gosodiadau, hidlwyr, negeseuon, a data arall o broffil { app-name-thunderbird }.
source-seamonkey = Mewnforio o osodiad { app-name-seamonkey }
source-seamonkey-description = Mewnforio gosodiadau, hidlwyr, negeseuon, a data arall o broffil { app-name-seamonkey }.
source-outlook = Mewnforio o { app-name-outlook }
source-outlook-description = Mewnforio cyfrifon, llyfrau cyfeiriadau, a negeseuon o { app-name-outlook }.
source-becky = Mewnforio o { app-name-becky }
source-becky-description = Mewnforio llyfrau cyfeiriadau a negeseuon o { app-name-becky }.
source-apple-mail = Mewnforio o { app-name-apple-mail }
source-apple-mail-description = Mewnforio negeseuon o { app-name-apple-mail }.
source-file2 = Mewnforio o ffeil
source-file-description = Dewiswch ffeil i fewnforio llyfrau cyfeiriadau, calendrau, neu gopi wrth gefn o broffil (ffeil ZIP).

## Import from file selections

file-profile2 = Mewnforio Proffil Wrth Gefn
file-profile-description = Dewiswch broffil Thunderbird sydd wedi'i gadw wrth gefn yn flaenorol (.zip)
file-calendar = Mewnforio Calendrau
file-calendar-description = Dewiswch ffeil sy'n cynnwys Calendrau neu Ddigwyddiadau wedi'u hallforio (.ics)
file-addressbook = Mewnforio Llyfrau Cyfeiriadau
file-addressbook-description = Dewiswch ffeil sy'n cynnwys Llyfrau Cyfeiriadau a Chysylltiadau wedi'u hallforio

## Import from app profile steps

from-app-thunderbird = Mewnforio o broffil { app-name-thunderbird }
from-app-seamonkey = Mewnforio o broffil { app-name-seamonkey }
from-app-outlook = Mewnforio o { app-name-outlook }
from-app-becky = Mewnforio o { app-name-becky }
from-app-apple-mail = Mewnforio o { app-name-apple-mail }
profiles-pane-title-thunderbird = Mewnforio Gosodiadau a Data o broffil { app-name-thunderbird }.
profiles-pane-title-seamonkey = Mewnforio Gosodiadau a Data o broffil { app-name-seamonkey }.
profiles-pane-title-outlook = Mewnforio Data o { app-name-outlook }.
profiles-pane-title-becky = Mewnforio Data o { app-name-becky }.
profiles-pane-title-apple-mail = Mewnforio Negeseuon o { app-name-apple-mail }.
profile-source = Mewnforio o broffil
# $profileName (string) - name of the profile
profile-source-named = Mewnforio o'r proffil <strong>"{ $profileName }"</strong>
profile-file-picker-directory = Dewiswch ffolder proffil
profile-file-picker-archive = Dewiswch ffeil <strong>ZIP</strong>
profile-file-picker-archive-description = Rhaid i'r ffeil ZIP fod yn llai na 2GB.
profile-file-picker-archive-title = Dewiswch ffeil ZIP (llai na 2GB)
items-pane-title2 = Dewiswch beth i'w fewnforio:
items-pane-directory = Cyfeiriadur:
items-pane-profile-name = Enw proffil:
items-pane-checkbox-accounts = Cyfrifon a Gosodiadau
items-pane-checkbox-address-books = Llyfrau Cyfeiriadau
items-pane-checkbox-calendars = Calendrau
items-pane-checkbox-mail-messages = Negeseuon E-bost
items-pane-override = Ni fydd unrhyw ddata presennol neu'r un fath yn cael ei drosysgrifo.

## Import from address book file steps

import-from-addr-book-file-description = Dewiswch y fformat ffeil sy'n cynnwys eich data Llyfr Cyfeiriadau.
addr-book-csv-file = Ffeil wedi'i gwahanu gan goma neu dab (.csv, .tsv)
addr-book-ldif-file = Ffeil LDIF (.ldif)
addr-book-vcard-file = Ffeil vCard (.vcf, .vcard)
addr-book-sqlite-file = Ffeil cronfa ddata SQLite (.sqlite)
addr-book-mab-file = Ffeil cronfa ddata Mork (.mab)
addr-book-file-picker = Dewiswch ffeil llyfr cyfeiriadau
addr-book-csv-field-map-title = Cydweddu enwau meysydd
addr-book-csv-field-map-desc = Dewiswch feysydd llyfr cyfeiriadau sy'n cyfateb i'r meysydd ffynhonnell. Dad-diciwch y meysydd nad ydych am eu mewnforio.
addr-book-directories-title = Dewiswch o ble i fewnforio'r data a ddewiswyd
addr-book-directories-pane-source = Ffeil ffynhonnell:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Crëwch gyfeiriadur newydd o'r enw <strong>"{ $addressBookName }"</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Mewnforio'r data a ddewiswyd i'r cyfeiriadur " { $addressBookName } "
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Bydd llyfr cyfeiriadau newydd o'r enw " { $addressBookName } " yn cael ei greu.

## Import from calendar file steps

import-from-calendar-file-desc = Dewiswch y ffeil iCalendar (.ics) yr hoffech ei mewnforio.
calendar-items-title = Dewiswch pa eitemau i'w mewnforio.
calendar-items-loading = Wrthi'n llwytho eitemau…
calendar-items-filter-input =
    .placeholder = Hidlo eitemau…
calendar-select-all-items = Dewis y cyfan
calendar-deselect-all-items = Dad-ddewis y cyfan
calendar-target-title = Dewiswch ble i fewnforio'r eitemau a ddewiswyd.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Crëwch galendr newydd o'r enw <strong>"{ $targetCalendar }"</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [zero] Mewnforio { $itemCount } eitem i'r calendr " { $targetCalendar } "
        [one] Mewnforio un eitem i'r calendr " { $targetCalendar } "
        [two] Mewnforio { $itemCount } eitem i'r calendr " { $targetCalendar } "
        [few] Mewnforio { $itemCount } eitem i'r calendr " { $targetCalendar } "
        [many] Mewnforio { $itemCount } eitem i'r calendr " { $targetCalendar } "
       *[other] Mewnforio { $itemCount } eitem i'r calendr " { $targetCalendar } "
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Bydd calendr newydd o'r enw " { $targetCalendar } " yn cael ei greu.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Wrthi'n mewnforio… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Wrthi'n allforio… { $progressPercent }
progress-pane-finished-desc2 = Gorffen.
error-pane-title = Gwall
error-message-zip-file-too-big2 = Mae'r ffeil zip a ddewiswyd yn fwy na 2GB. Echdynnwch hi'n gyntaf, yna ei mewnforio o'r ffolder cafodd ei hechdynnu.
error-message-extract-zip-file-failed2 = Wedi methu echdynnu'r ffeil zip. Echdynwch hi â llaw, yna ei mewnforio o'r ffolder wedi'i hechdynnu yn lle hynny.
error-message-failed = Methodd y mewnforio yn annisgwyl, efallai y bydd mwy o wybodaeth ar gael yn y Consol Gwallau.
error-failed-to-parse-ics-file = Heb ganfod unrhyw eitemau i'w mewnforio yn y ffeil.
error-export-failed = Methodd y mewnforio yn annisgwyl, efallai y bydd rhagor o wybodaeth ar gael yn y Consol Gwallau.
error-message-no-profile = Heb ganfod proffil.

## <csv-field-map> element

csv-first-row-contains-headers = Mae'r rhes gyntaf yn cynnwys enwau meysydd
csv-source-field = Maes ffynhonnell
csv-source-first-record = Cofnod cyntaf
csv-source-second-record = Ail gofnod
csv-target-field = Maes llyfr cyfeiriadau

## Export tab

export-profile-title = Allforiwch gyfrifon, negeseuon, llyfrau cyfeiriadau, a gosodiadau i ffeil ZIP.
export-profile-description = Os yw eich proffil presennol yn fwy na 2GB, rydym yn awgrymu eich bod yn gwneud copi wrth gefn ohono ar eich cyfer chi eich hun.
export-open-profile-folder = Agor ffolder proffil
export-file-picker2 = Allforio i ffeil ZIP
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Data i'w fewnforio
summary-pane-start = Cychwyn Mewnforio
summary-pane-warning = Bydd angen ailgychwyn { -brand-product-name } pan fydd y mewnforio wedi'i gwblhau.
summary-pane-start-over = Ailgychwyn y Teclyn Mewnforio

## Footer area

footer-help = Angen cymorth?
footer-import-documentation = Dogfennaeth gosod
footer-export-documentation = Dogfennaeth allforio
footer-support-forum = Fforwm cefnogi

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Camau mewnforio
step-confirm = Cadarnhau
# Variables:
# $number (number) - step number
step-count = { $number }
