# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Tatz'ija' ri k'amoj rik'in ri tojtob'enel rusamaj ruwachib'enik mamposteria CSS. Tab'etz'eta' ri <a data-l10n-name="explainer">rutzijol</a> richin nik'ul jun nïm rutzijoxik rusamaj. Richin nitaq rutzijol. Richin nitaq rutzijol, katzijon pa <a data-l10n-name="w3c-issue"> rere' ruk'ayewal GitHub</a> o <a data-l10n-name="bug"> re sacjpk re'</a>.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Re k'ak'a' API ko'öl to'ïk nuya' richin niq'ijüx chuqa' rumolsamaj wachib'äl akuchi' nokisäx ri <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> pa rukematz'ib' o royonib'al okisaxel. Ri <a data-l10n-name="spec">rujikib'axik</a> k'a man jikïl ta. Tab'etz'eta' ri <a data-l10n-name="bugzilla">bug1602129</a> richin ch'aqa' rutzijol.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Samajib'äl: JPEG XL
experimental-features-media-jxl-description = Rik'in re tzijon samajib'äl re', { -brand-short-name } nuk'ül ri rub'anikil JPEG XL (JXL). Re' jun rub'anikil utzirisan ruyakb'al wachib'äl, ri nuya' q'ij chi re ri ruq'axik akuchi' majun tzij nusäch pa JPEG taq yakb'äl. Tak'ulb'ej ri <a data-l10n-name="bugzilla">bug 1539075</a> richin ch'aqa' rub'anikil.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = Ri rutz'aqatisaxik jun nuk'unel pa ri <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> k'amal achi'el chuqa' juley taq jaloj kik'amon ki' nub'än chi jumul yetz'uk k'ak'a' taq ruxaq rik'in kib'anikil akuchi' man nitz'aqatisäx ta ri HTML ruxaq. Re re' nub'än chi man k'ayew ta yetz'uk kib'anikil ruxaq ri ye'okisäx chik rik'in <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Titz'et <a data-l10n-name="bugzilla">bug 1520690</a> richin ch'aqa' rutzijol.

experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = Jun ruchi' pas richin ri Runik'onel Ruxaq ri nuk'üt pe ri etamab'äl akuchi' nuya' retal rub'anikil k'amoj chi kikojol ri okik'amaya' richin ri achokoy. Tatz'eta' <a data-l10n-name="bugzilla">bug 1584464</a> richin ch'aqa' rutzijol.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax k'o wi
experimental-features-cookie-samesite-lax-by-default2-description = Yerutz'ët ri taq cookies achi'el “SameSite=Lax” ri k'o wi we man nijikib'äx ta ri “SameSite” b'anikil. Ri b'anonela' k'o chi nikojqaj ri status quo k'o wakami toq nub'ij “SameSite=None”.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None nrajo' jun jikïl b'anikil
experimental-features-cookie-samesite-none-requires-secure2-description = Taq cookies rik'in “SameSite=None” nrajo' ri jikïl b'anikil. Re b'anikil re' nrajo' “Cookies: SameSite=Lax k'o wi”.

# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home rujumejyak tikirib'äl
experimental-features-abouthome-startup-cache-description = Rujumejyak tikirinel wuj  about:home ri nusamajij ri' ruyon pa rutikiribal. Ri nrojqaj ri jumejyak richin ninimirisäx rusamaj ri tikirib'äl.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Kisamajixik taq cookies richin junam ajk'amal po rik'in jalajöj chib'enïk (achi'el, http://example.com chuqa' https://example.com) achi'el xoch'in taq ruxaq pa ruk'exel ri jun ruxaq. Nrutzilaj ri jikomal po nuya' k'ïy sachoj.

# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Nutzïj ri tojtob'enel tob'äl richin Service Workers pa Rupas Chojmirisanel. Re rub'anikil re' nub'än eqal chi ke ri Kisamajib'al B'anonela' chuqa' yalan uchuqa' nrokisaj.

# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Chijun K'oxom Silowäch
experimental-features-webrtc-global-mute-toggles-description = Ketz'aqatisäx taq samajib'äl pa ri WebRTC chijun komonïk etanel ri nikiya' q'ij chi ke ri okisanela' yekichüp chijun ri ketal q'asäy taq kich'ab'äl chuqa' elesäy wachib'äl.

# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Titzij Warp, jun nuk'samaj richin nutziläx ri rub'eyal nisamäj chuqa' rokisaxik ruchuq'a' JavaScript.

# Search during IME
experimental-features-ime-search =
    .label = Rukajtz'ik Ochochib'äl: Kek'ut ri xe'ilitäj ri runuk'uj IME
experimental-features-ime-search-description = Jun IME (Input Method Editor) jun samajib'äl richin tikirel yetz'ib'äx jalajöj taq tz'ib', achi'el ri ye'okisäx pa indico o Asia Oriental taq ch'ab'äl rik'in jun pa rub'eyal tz'ib'ab'äl. Toq nitzij re tojtob'enel xtujäq ri rupas kikajtz'ik taq ochochib'äl, akuchi' yeruk'üt ri e'ilon chuqa' taq chilab'enïk toq nokisäx ri IME richin yetz'ib'äx taq tzij. Tatz'eta' chi ri IME nitikïr nuk'üt jun pas nuq'alajisaj ronojel ri xekanöx pa kikajtz'ik ochochib'äl, ruma ri' nichilab'ëx chi tokisäx re runuk'ulem xa xe we ri IME man nrokisaj ta re ruwäch pas.
