# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Komu
message-header-from-list-name = Od
message-header-sender-list-name = Odosielateľ
message-header-reply-to-list-name = Odpoveď na
message-header-cc-list-name = Kópia
message-header-bcc-list-name = Skrytá kópia
message-header-newsgroups-list-name = Diskusné skupiny
message-header-tags-list-name = Značky

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organizácia<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Predmet<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Pokračovať na<span data-l10n-name="field-separator">:</span>
message-header-date-field = Dátum<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Program<span data-l10n-name="field-separator">:</span>
message-header-references-field = Referencie<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID správy<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = V odpovedi na<span data-l10n-name="field-separator">:</span>
message-header-website-field = Webová stránka<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = V adresári
message-header-address-not-in-address-book-icon2 =
    .alt = Nie je v adresári
message-header-address-not-in-address-book-button =
    .title = Uložiť túto adresu do adresára
message-header-address-in-address-book-button =
    .title = Upraviť kontakt
message-header-field-show-more = Ďalší
    .title = Zobraziť všetkých príjemcov
message-ids-field-show-all = Zobraziť všetko
