/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

#calendar-event-dialog:-moz-lwtheme,
#calendar-task-dialog:-moz-lwtheme {
  background-color: transparent;
}

:root:not([lwt-tree]):-moz-lwtheme #calendar-item-panel-iframe {
  background-color: -moz-Dialog;
}
#calendar-event-dialog-inner:-moz-lwtheme,
#calendar-task-dialog-inner:-moz-lwtheme {
  background-image: none !important;
}

#calendar-event-dialog,
#calendar-task-dialog,
#calendar-event-dialog-inner,
#calendar-event-summary-dialog,
#calendar-task-dialog-inner {
  padding: 0;
}

#calendar-event-dialog .todo-only,
#calendar-task-dialog .event-only,
#calendar-event-dialog-inner .todo-only,
#calendar-task-dialog-inner .event-only {
  display: none;
}

/*--------------------------------------------------------------------
 *   Event dialog toolbar buttons
 *-------------------------------------------------------------------*/

.cal-event-toolbarbutton {
  -moz-context-properties: fill;
  fill: currentColor;
}

#button-save {
  list-style-image: url(chrome://messenger/skin/icons/save.svg);
}

#button-save[mode="send"] {
  list-style-image: url("chrome://messenger/skin/icons/send.svg");
}

#saveandcloseButton,
#button-saveandclose {
  list-style-image: url(chrome://calendar/skin/shared/icons/save-close.svg);
}

#button-saveandclose[mode="send"] {
  list-style-image: url("chrome://messenger/skin/icons/send.svg");
}

#button-attendees {
  list-style-image: url(chrome://messenger/skin/icons/address.svg);
}

#button-privacy {
  list-style-image: url("chrome://messenger/skin/icons/privacy-security.svg");
}

#button-url {
  list-style-image: url(chrome://messenger/skin/icons/attach.svg);
}

#deleteButton,
#button-delete.cal-event-toolbarbutton {
  /* !important to override the SM #button-delete states */
  list-style-image: url(chrome://messenger/skin/icons/delete.svg) !important;
  -moz-image-region: auto !important;
}

#button-priority {
  list-style-image: url(chrome://calendar/skin/shared/icons/priority.svg);
}

#button-status {
  list-style-image: url(chrome://calendar/skin/shared/icons/status.svg);
}

#button-freebusy {
  list-style-image: url(chrome://calendar/skin/shared/icons/freebusy.svg);
}

#button-timezones {
  list-style-image: url(chrome://calendar/skin/shared/icons/timezones.svg);
}

#acceptButton {
  list-style-image: url(chrome://calendar/skin/shared/icons/complete.svg);
}

#tentativeButton {
  list-style-image: url(chrome://calendar/skin/shared/icons/tentative.svg);
}

#declineButton {
  list-style-image: url(chrome://calendar/skin/shared/icons/decline.svg);
}

/*--------------------------------------------------------------------
 *   Event dialog counter box section
 *-------------------------------------------------------------------*/

#counter-proposal-box {
  background-color: rgb(186, 238, 255);
  border-bottom: 1px solid #444444;
}

#counter-proposal-property-values > description {
  margin-bottom: 2px;
}

#counter-proposal-summary {
  font-weight: bold;
}

.counter-buttons {
  max-height: 25px;
}

#yearly-period-of-label,
label.label {
  text-align: right;
}

#item-calendar,
.item-calendar,
#item-categories,
#item-repeat,
.item-alarm,
.datepicker-text-class {
  min-width: 12em;
}

.cal-event-toolbarbutton .toolbarbutton-icon {
  width: 18px;
  height: 18px;
}

#event-grid {
  padding-top: 8px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
  border-spacing: 0;
  height: 100%;
}

#event-grid > tr > th {
  text-align: left;
  font-weight: normal;
}

#event-grid > tr > td {
  width: 100%;
}

#event-grid-tab-box-row,
#event-grid-tabbox,
.event-grid-tabpanels {
  height: 100%;
}

.event-input-td > input {
  flex: 1;
}

#item-calendar,
.item-calendar,
#item-categories {
  flex: 1;
  width: 100%;
}

#item-calendar::part(icon) {
  margin-inline: 7px 3px;
}

#item-calendar::part(icon),
#item-calendar > menupopup > menuitem .menu-iconic-icon,
#item-categories::part(color) {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--item-color);
}

#item-categories > menupopup > menuitem .menu-iconic-left {
  margin-inline-end: 3px;
}

#item-categories > menupopup > menuitem .menu-iconic-text {
  padding-inline-start: 15px;
  background-image: var(--icon-circle-small);
  background-position: left center;
  background-repeat: no-repeat;
  -moz-context-properties: fill;
  fill: var(--item-color);
}

#item-categories > menupopup > menuitem .menu-iconic-text:dir(rtl) {
  background-position-x: right;  
}

#item-categories::part(color) {
  margin-inline-end: 1px;
}

#item-categories::part(color first) {
  margin-inline-start: 7px;
}

#item-categories::part(color last) {
  margin-inline-end: 3px !important;
}

#item-categories-textbox {
  margin: 1px 8px;
}

#event-grid-item-calendar-td,
#event-grid-category-color-td,
.event-input-td {
  display: flex;
}

#event-grid > tr > td > menulist,
#event-grid checkbox,
#event-grid td,
#event-grid th {
  margin: 0;
  padding: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.item-location-link,
#item-location,
.item-location,
#item-title,
.item-title {
  margin: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding-inline-start: 4px;
}

.item-location-link {
  padding-inline-start: 0;
}

.item-location-link > label {
  cursor: pointer;
}

#todo-status,
#item-repeat,
.item-alarm {
  margin: 0;
}

#event-grid td,
#event-grid th {
  padding: 4px 0;
}

#event-grid-startdate-row td,
#event-grid-startdate-row th,
#event-grid-enddate-row td,
#event-grid-enddate-row th {
  padding: 0;
}

.datepicker-menulist {
  margin-left: 0 !important;
}

#event-grid-tab-vbox {
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

.separator td {
  border-bottom: 1px solid var(--field-border-color);
  padding: 0 !important;
}

#completed-date-picker {
  margin-inline-start: 4px;
}

/*--------------------------------------------------------------------
 *   Event dialog tabbox section
 *-------------------------------------------------------------------*/

#event-grid-tabbox {
  margin: 5px 0;
}

#event-grid-tabbox #notify-options {
  padding: 0px 9px;
}

#FormatToolbox {
  appearance: none;
  padding-inline: 4px;
}

#FormatToolbar {
  -moz-context-properties: fill;
  fill: currentColor;
}

#boldButton {
  list-style-image: url("chrome://messenger/skin/icons/bold.svg");
}

#italicButton {
  list-style-image: url("chrome://messenger/skin/icons/italics.svg");
}

#underlineButton {
  list-style-image: url("chrome://messenger/skin/icons/underline.svg");
}

#linkButton {
  list-style-image: url("chrome://global/skin/icons/link.svg");
}

#ulButton {
  list-style-image: url("chrome://messenger/skin/icons/bullet-list.svg");
}

#olButton {
  list-style-image: url("chrome://messenger/skin/icons/number-list.svg");
}

#outdentButton {
  list-style-image: url("chrome://messenger/skin/icons/outdent.svg");
}

#indentButton {
  list-style-image: url("chrome://messenger/skin/icons/indent.svg");
}

#AlignPopupButton {
  list-style-image: url("chrome://messenger/skin/icons/left-align.svg");
}

#AlignPopup > menuitem {
  -moz-context-properties: fill;
  fill: currentColor;
}

#AlignLeftItem, #AlignPopupButton[state="left"] {
  list-style-image: url("chrome://messenger/skin/icons/left-align.svg");
}

#AlignCenterItem, #AlignPopupButton[state="center"] {
  list-style-image: url("chrome://messenger/skin/icons/center-align.svg");
}

#AlignRightItem, #AlignPopupButton[state="right"] {
  list-style-image: url("chrome://messenger/skin/icons/right-align.svg");
}

#AlignJustifyItem, #AlignPopupButton[state="justify"] {
  list-style-image: url("chrome://messenger/skin/icons/justify.svg");
}

#paragraphButton {
  list-style-image: url("chrome://messenger/skin/icons/paragraph.svg");
}

#smileButtonMenu {
  list-style-image: url("chrome://messenger/skin/icons/smiley.svg");
}

.formatting-button {
  appearance: none;
  border: 1px solid transparent;
  border-radius: var(--toolbarbutton-border-radius);
  color: inherit;
  -moz-context-properties: fill;
  fill: currentColor;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
}

.formatting-button:not([disabled="true"]):hover {
  background: var(--toolbarbutton-hover-background);
  border-color: var(--toolbarbutton-hover-bordercolor);
  box-shadow: var(--toolbarbutton-hover-boxshadow);
}

.formatting-button:not([disabled="true"]):is([open="true"],[checked="true"],:hover:active) {
  background: var(--toolbarbutton-checked-background);
  border-color: var(--toolbarbutton-active-bordercolor);
  box-shadow: var(--toolbarbutton-active-boxshadow);
}

.formatting-button:not([disabled="true"]):is([open="true"],:hover:active) {
  background: var(--toolbarbutton-active-background) !important;
}

.formatting-button > .toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://messenger/skin/messengercompose/format-dropmarker.svg");
  -moz-context-properties: fill;
  fill: currentColor;
}

.formatting-button[disabled="true"] > .toolbarbutton-icon,
.formatting-button[disabled="true"] > .toolbarbutton-menu-dropmarker {
  opacity: 0.4;
}

#item-description {
  min-height: 7em;
  border: 1px solid var(--field-border-color);
  border-radius: 2px;
  margin: 2px 4px;
}

#calendar-event-dialog-inner .attendee-label:focus {
  background-color: SelectedItem;
  color: SelectedItemText;
}

/*--------------------------------------------------------------------
 *   Event dialog keep duration button
 *-------------------------------------------------------------------*/

#keepduration-button {
  appearance: none;
  list-style-image: url(chrome://calendar/skin/shared/chain-unlock.svg);
  margin-bottom: -15px;
  border-radius: var(--toolbarbutton-border-radius);
  position: relative;
  -moz-user-focus: normal;
  -moz-context-properties: fill;
  fill: CurrentColor;
}

#keepduration-button:hover {
  background-color: var(--button-hover-bgcolor);
}

#keepduration-button:hover:active {
  background-color: var(--button-active-bgcolor);
}

#keepduration-button[keep="true"] {
  list-style-image: url(chrome://calendar/skin/shared/chain-lock.svg);
  fill: SelectedItem;
}

#keepduration-button[disabled="true"] {
  fill: GrayText;
}

#keepduration-button > label {
  display: none;
}

.keepduration-link-image {
  margin-inline-start: -1px;
  -moz-context-properties: fill, stroke-opacity;
  fill: CurrentColor;
  stroke-opacity: 0;
}

#link-image-top {
  margin-top: 0.6em;
  margin-bottom: -0.6em;
}

#link-image-top[keep="true"] {
  stroke-opacity: 1;
}

#link-image-bottom {
  margin-top: -0.6em;
  margin-bottom: 0.6em;
}

/*--------------------------------------------------------------------
 *   Event dialog statusbar images
 *-------------------------------------------------------------------*/

.cal-statusbar-1 {
  -moz-box-orient: vertical;
  -moz-context-properties: fill;
  fill: currentColor;
}

/*--------------------------------------------------------------------
 *   Event dialog statusbarpanels
 *-------------------------------------------------------------------*/

#status-privacy,
#status-priority,
#status-status,
#status-freebusy {
  overflow: hidden;
}

/*--------------------------------------------------------------------
 *   Recurrence dialog
 *-------------------------------------------------------------------*/
.recurrence-pattern-hbox-label {
    margin-top: 6px;
}

#preview-border {
  border: none;
  padding: 0;
  display: flex;
  -moz-box-flex: 1;
}

#daypicker-weekday {
  margin-top: 2px;
  -moz-user-focus: normal;
}

.daypicker-monthday {
  margin-top: 2px;
  -moz-user-focus: normal;
}

.headline {
  font-weight: bold;
}

.headline[align="end"],
.headline[align="right"] {
  text-align: right;
}

.default-spacer {
  width: 1em;
  height: 1em;
}

.default-indent {
  margin-inline-start: 1.5em;
}

#dialog-box {
  padding-block: 8px 10px;
  padding-inline: 8px 10px;
}

.checkbox-no-label > .checkbox-label-box {
  display: none;
}

/*--------------------------------------------------------------------
 *   Event summary dialog
 *-------------------------------------------------------------------*/
#summary-toolbox {
  margin-bottom: 5px;
}

#status-notifications > .notificationbox-stack {
  background-color: transparent;
  margin-inline: 6px;
}

#calendar-item-summary {
  margin-block: 3px 10px;
  margin-inline: 8px 10px;
}

#calendar-summary-dialog,
#calendar-ics-file-dialog {
  min-width: 35em;
}

#calendar-event-summary-dialog,
#calendar-task-summary-dialog {
  width: 35em;
}

#calendar-summary-dialog .item-location,
#calendar-summary-dialog .item-title,
#calendar-event-summary-dialog .item-location,
#calendar-event-summary-dialog .item-title,
#calendar-task-summary-dialog .item-location,
#calendar-task-summary-dialog .item-title,
#calendar-ics-file-dialog .item-location,
#calendar-ics-file-dialog .item-title {
  padding-inline-start: 1px;
}

#calendar-summary-dialog .item-attachment-cell,
#calendar-event-summary-dialog .item-attachment-cell,
#calendar-task-summary-dialog .item-attachment-cell,
#calendar-ics-file-dialog .item-attachment-cell {
  margin-left: 0px;
}

#calendar-summary-dialog .item-attachment-cell-label,
#calendar-event-summary-dialog .item-attachment-cell-label,
#calendar-task-summary-dialog .item-attachment-cell-label,
#calendar-ics-file-dialog .item-attachment-cell-label {
  margin-left: 0;
}

#calendar-summary-dialog .item-description,
#calendar-event-summary-dialog .item-description,
#calendar-task-summary-dialog .item-description,
#calendar-ics-file-dialog .item-description {
  border: 1px solid var(--field-border-color);
  margin: 2px 4px 0;
  min-height: 10em;
}

#calendar-summary-dialog .item-description a,
#calendar-event-summary-dialog .item-description a,
#calendar-task-summary-dialog .item-description a,
#calendar-ics-file-dialog .item-description a {
  color: -moz-nativehyperlinktext;
}

:root[lwt-tree-brighttext] #calendar-summary-dialog .item-description a,
:root[lwt-tree-brighttext] #calendar-event-summary-dialog .item-description a,
:root[lwt-tree-brighttext] #calendar-task-summary-dialog .item-description a,
:root[lwt-tree-brighttext] #calendar-ics-file-dialog .item-description a {
  color: #0aa5ff;
}

#calendar-summary-dialog #item-start-row .headline,
#calendar-event-summary-dialog #item-start-row .headline,
#calendar-task-summary-dialog #item-start-row .headline,
#calendar-ics-file-dialog #item-start-row .headline,
#calendar-summary-dialog #item-end-row .headline,
#calendar-event-summary-dialog #item-end-row .headline,
#calendar-task-summary-dialog #item-end-row .headline,
#calendar-ics-file-dialog #item-end-row .headline {
  font-weight: normal;
}
