# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Ynghylch Glean
about-glean-description = Mae'r <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> yn llyfrgell casglu data sy'n cael ei ddefnyddio o fewn cynnyrch Mozilla. Mae'r dudalen hon ar gyfer datblygwyr a phrofwyr sydd angen <a data-l10n-name="fog-debug-doc-link">ffurfweddu dadfygio a chyflwr cofnodi'r Glean SDK </a>.
about-glean-warning = Gall camddefnyddio'r rhyngwyneb hwn chwalu { -brand-short-name }.
tag-pings-label = Tagiwch bob pingiadau a anfonwyd gyda'r tag hwn
log-pings-label = Cofnodi llwythi ping cyn anfon?
send-pings-label = Anfon y ping a enwyd
controls-button-label = Cyflwyno Gosodiadau
controls-button-label-verbose = Gosod y gosodiadau ac anfon ping
