# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

<!-- Styles -->
<link rel="stylesheet" href="chrome://messenger/skin/vcard.css" />

<!-- Scripts -->
<script src="chrome://messenger/content/addressbook/edit/adr.js"></script>
<script src="chrome://messenger/content/addressbook/edit/org.js"></script>
<script src="chrome://messenger/content/addressbook/edit/email.js"></script>
<script src="chrome://messenger/content/addressbook/edit/fn.js"></script>
<script src="chrome://messenger/content/addressbook/edit/impp.js"></script>
<script src="chrome://messenger/content/addressbook/edit/n.js"></script>
<script src="chrome://messenger/content/addressbook/edit/nickname.js"></script>
<script src="chrome://messenger/content/addressbook/edit/note.js"></script>
<script src="chrome://messenger/content/addressbook/edit/special-date.js"></script>
<script src="chrome://messenger/content/addressbook/edit/tel.js"></script>
<script src="chrome://messenger/content/addressbook/edit/tz.js"></script>
<script src="chrome://messenger/content/addressbook/edit/url.js"></script>
<script src="chrome://messenger/content/addressbook/edit/edit.js"></script>

<!-- Localization -->
<link rel="localization" href="messenger/addressbook/vcard.ftl" />

<!-- Edit View -->
<template id="template-addr-book-edit">
  <!-- Name -->
  <fieldset id="addr-book-edit-n" class="addr-book-edit-fieldset fieldset-reset">
    <legend class="screen-reader-only" data-l10n-id="vcard-name-header"/>
    <div class="addr-book-edit-display-nickname">
    </div>
  </fieldset>
  <fieldset id="addr-book-edit-email" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-email-header"/>
    <table>
      <thead>
        <tr>
          <th id="addr-book-edit-email-type" scope="col">
            <!-- NOTE: We use the <span> so we can apply the screen-reader-only
               - class to the <span> rather than the <th> element. If we apply
               - the class to the <th> element directly it causes problems with
               - Orca's "browse mode" table navigation. See bug 1776644. -->
            <span class="screen-reader-only"
                  data-l10n-id="vcard-entry-type-label">
            </span>
          </th>
          <th id="addr-book-edit-email-label" scope="col">
            <span class="screen-reader-only"
                  data-l10n-id="vcard-email-label">
            </span>
          </th>
          <th id="addr-book-edit-email-default" scope="col">
            <span data-l10n-id="vcard-primary-email-label"></span>
          </th>
        </tr>
      </thead>
      <tbody id="vcard-email"></tbody>
    </table>
    <button id="vcard-add-email"
            data-l10n-id="vcard-email-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- URL -->
  <fieldset id="addr-book-edit-url" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-url-header"/>
    <button id="vcard-add-url"
            data-l10n-id="vcard-url-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Address -->
  <fieldset id="addr-book-edit-address" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-adr-header"/>
    <button id="vcard-add-adr"
            data-l10n-id="vcard-adr-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Tel -->
  <fieldset id="addr-book-edit-tel" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-tel-header"/>
    <button id="vcard-add-tel"
            data-l10n-id="vcard-tel-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Time Zone -->
  <fieldset id="addr-book-edit-tz" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-tz-header"/>
    <button id="vcard-add-tz"
            data-l10n-id="vcard-tz-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- IMPP (Chat) -->
  <fieldset id="addr-book-edit-impp" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-impp-header"/>
    <button id="vcard-add-impp"
            data-l10n-id="vcard-impp-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Birthday and Anniversary (Special dates) -->
  <fieldset id="addr-book-edit-bday-anniversary" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-bday-anniversary-header"/>
    <button id="vcard-add-bday-anniversary"
            data-l10n-id="vcard-bday-anniversary-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Notes -->
  <fieldset id="addr-book-edit-note" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-note-header"/>
    <button id="vcard-add-note"
            data-l10n-id="vcard-note-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
  <!-- Organization Info -->
  <fieldset id="addr-book-edit-org" class="addr-book-edit-fieldset fieldset-reset">
    <legend data-l10n-id="vcard-org-header"/>
    <button id="vcard-add-org"
            data-l10n-id="vcard-org-add"
            class="addr-book-edit-fieldset-button"
            type="button"></button>
  </fieldset>
</template>

<!-- Individual fields -->

<!-- N field -->
<template id="template-vcard-edit-n">
  <div id="n-list-component-prefix" class="n-list-component">
    <label for="vcard-n-prefix" data-l10n-id="vcard-n-prefix" />
    <input id="vcard-n-prefix"
           type="text"
           autocomplete="off" />
    <button class="primary" data-l10n-id="vcard-n-add-prefix"
            type="button">
      <img src="chrome://global/skin/icons/add.svg" alt="" />
    </button>
  </div>
  <div id="n-list-component-firstname" class="n-list-component">
    <label for="vcard-n-firstname" data-l10n-id="vcard-n-firstname" />
    <input id="vcard-n-firstname"
           type="text"
           autocomplete="off" />
  </div>
  <div id="n-list-component-middlename" class="n-list-component">
    <label for="vcard-n-middlename" data-l10n-id="vcard-n-middlename" />
    <input id="vcard-n-middlename"
           type="text"
           autocomplete="off" />
    <button class="primary" data-l10n-id="vcard-n-add-middlename"
            type="button">
      <img src="chrome://global/skin/icons/add.svg" alt="" />
    </button>
  </div>
  <div id="n-list-component-lastname" class="n-list-component">
    <label for="vcard-n-lastname" data-l10n-id="vcard-n-lastname" />
    <input id="vcard-n-lastname"
           type="text"
           autocomplete="off" />
  </div>
  <div id="n-list-component-suffix" class="n-list-component">
    <label for="vcard-n-suffix" data-l10n-id="vcard-n-suffix" />
    <button class="primary" data-l10n-id="vcard-n-add-suffix"
            type="button">
      <img src="chrome://global/skin/icons/add.svg" alt="" />
    </button>
    <input id="vcard-n-suffix"
           type="text"
           autocomplete="off" />
  </div>
</template>

<!-- FN field. -->
<template id="template-vcard-edit-fn">
  <label for="vCardDisplayName" data-l10n-id="vcard-displayname"></label>
  <input id="vCardDisplayName" type="text"/>
  <label id="vCardDisplayNameCheckbox" class="vcard-checkbox">
    <!-- There is no l10n ID on this element because the vCard edit form is
     also used in other sections that don't use this checkbox and don't have
     access to the fluent string. The string is added when needed by the
     address book edit.js file. -->
    <input type="checkbox" id="vCardPreferDisplayName" checked="checked" />
    <!-- SPAN element needed for fluent string. -->
    <span></span>
  </label>
</template>

<!-- NICKNAME field. -->
<template id="template-vcard-edit-nickname">
  <!-- FIXME: Replace this DTD string with a fluent ID after 102. -->
  <label for="vCardNickName">&NickName.label;</label>
  <input id="vCardNickName" type="text"/>
</template>

<!-- Email -->
<template id="template-vcard-edit-email">
  <td>
    <!-- The type selection is repeated boilerplate and will be reduced -->
    <select class="vcard-type-selection"
            aria-labelledby="addr-book-edit-email-type">
      <option value="work" data-l10n-id="vcard-entry-type-work" />
      <option value="home" data-l10n-id="vcard-entry-type-home" />
      <option value="" data-l10n-id="vcard-entry-type-none" selected="selected" />
    </select>
  </td>
  <td class="email-column">
    <input type="email"
           aria-labelledby="addr-book-edit-email-label" />
  </td>
  <td class="default-column">
    <input type="checkbox"
           aria-labelledby="addr-book-edit-email-default" />
  </td>
</template>

<!-- Phone -->
<template id="template-vcard-edit-tel">
  <label class="screen-reader-only"
         for="select"
         data-l10n-id="vcard-entry-type-label"/>
  <!-- The type selection is repeated boilerplate and will be reduced -->
  <select class="vcard-type-selection">
    <option value="work" data-l10n-id="vcard-entry-type-work"/>
    <option value="home" data-l10n-id="vcard-entry-type-home"/>
    <!-- FIXME: Replace these strings and remove aboutAddressBook.ftl from
         AccountManager.xhtml. -->
    <option value="cell" data-l10n-id="about-addressbook-entry-type-cell"/>
    <option value="fax" data-l10n-id="about-addressbook-entry-type-fax"/>
    <option value="pager" data-l10n-id="about-addressbook-entry-type-pager"/>
    <option value="" data-l10n-id="vcard-entry-type-none" selected="selected"/>
  </select>
  <label class="screen-reader-only" for="text"/>
  <input type="text"/>
</template>

<!-- Field with type and text -->
<template id="template-vcard-edit-type-text">
  <label class="screen-reader-only"
         for="select"
         data-l10n-id="vcard-entry-type-label"/>
  <!-- The type selection is repeated boilerplate and will be reduced -->
  <select class="vcard-type-selection">
    <option value="work" data-l10n-id="vcard-entry-type-work"/>
    <option value="home" data-l10n-id="vcard-entry-type-home"/>
    <option value="" data-l10n-id="vcard-entry-type-none" selected="selected"/>
  </select>
  <label class="screen-reader-only" for="text"/>
  <input type="text"/>
</template>

<!-- Time Zone -->
<template id="template-vcard-edit-tz">
  <select>
    <option value=""></option>
  </select>
</template>

<!-- Field with text -->
<template id="template-vcard-edit-text">
  <label class="screen-reader-only" for="text"/>
  <input type="text"/>
</template>

<!-- Birthday and Anniversary -->
<template id="template-vcard-edit-bday-anniversary">
  <select class="vcard-type-selection">
    <option value="bday" data-l10n-id="vcard-bday-label" selected="selected"/>
    <option value="anniversary" data-l10n-id="vcard-anniversary-label"/>
  </select>

  <div class="vcard-year-month-day-container">
    <label class="screen-reader-only" for="year" data-l10n-id="vcard-date-year"></label>
    <input id="year" name="year" type="number" min="1000" max="9999" pattern="[0-9]{4}" class="size5" />

    <label class="screen-reader-only" for="month" data-l10n-id="vcard-date-month"></label>
    <select id="month" name="month" class="vcard-month-select">
      <option value="" data-l10n-id="vcard-date-month" selected="selected"></option>
    </select>

    <label class="screen-reader-only" for="day" data-l10n-id="vcard-date-day"></label>
    <select id="day" name="day" class="vcard-day-select">
      <option value="" data-l10n-id="vcard-date-day" selected="selected"></option>
    </select>

    <button type="button" class="plain-button remove-property-button">
      <img src="chrome://messenger/skin/icons/new/compact/close.svg" alt="" />
    </button>
  </div>
</template>

<!-- Address -->
<template id="template-vcard-edit-adr">
  <fieldset class="fieldset-grid fieldset-reset">
    <legend class="screen-reader-only" data-l10n-id="vcard-adr-label"/>
    <label class="screen-reader-only"
           for="select"
           data-l10n-id="vcard-entry-type-label"/>
    <!-- The type selection is repeated boilerplate and will be reduced -->
    <select class="vcard-type-selection">
      <option value="work" data-l10n-id="vcard-entry-type-work"/>
      <option value="home" data-l10n-id="vcard-entry-type-home"/>
      <option value="" data-l10n-id="vcard-entry-type-none" selected="selected"/>
    </select>
    <div class="vcard-adr-inputs">
      <label for="pobox" data-l10n-id="vcard-adr-pobox"/>
      <input type="text" name="pobox"/>
    </div>
    <div class="vcard-adr-inputs">
      <label for="ext" data-l10n-id="vcard-adr-ext"/>
      <input type="text" name="ext"/>
    </div>
    <div class="vcard-adr-inputs">
      <label for="street" data-l10n-id="vcard-adr-street"/>
      <textarea name="street"></textarea>
    </div>
    <div class="vcard-adr-inputs">
      <label for="locality" data-l10n-id="vcard-adr-locality"/>
      <input type="text" name="locality"/>
    </div>
    <div class="vcard-adr-inputs">
      <label for="region" data-l10n-id="vcard-adr-region"/>
      <input type="text" name="region"/>
    </div>
    <div class="vcard-adr-inputs">
      <label for="code" data-l10n-id="vcard-adr-code"/>
      <input type="text" name="code"/>
    </div>
    <div class="vcard-adr-inputs">
      <label for="country" data-l10n-id="vcard-adr-country"/>
      <input type="text" name="country"/>
    </div>
  </fieldset>
</template>

<!-- Notes -->
<template id="template-vcard-edit-note">
  <textarea></textarea>
</template>

<!-- Organization Info -->
<template id="template-vcard-edit-title">
  <div class="vcard-adr-inputs">
    <label for="title" data-l10n-id="vcard-org-title"/>
    <input type="text" name="title"/>
  </div>
</template>
<template id="template-vcard-edit-role">
  <div class="vcard-adr-inputs">
    <label for="role" data-l10n-id="vcard-org-role"/>
    <input type="text" name="role"/>
  </div>
</template>
<template id="template-vcard-edit-org">
  <div class="vcard-adr-inputs">
    <label for="org" data-l10n-id="vcard-org-org"/>
    <textarea name="org"></textarea>
  </div>
</template>
