/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common-shared.css");

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
  --in-content-button-height: 2.2em;
  --in-content-button-border-color: color-mix(in srgb, currentColor 9%, transparent);
  --in-content-button-border-color-hover: color-mix(in srgb, currentColor 17%, transparent);
}

@media (prefers-color-scheme: dark) {
  /* Don't apply scrollbar-color since it removes the native scrollbar style on Linux */
  :root {
    scrollbar-color: initial;
  }
}

xul|tab[visuallyselected] {
  /* Override styles for tab[selected] from
     toolkit/themes/linux/global/tabbox.css */
  margin-bottom: 0;
}

/* Overriding appearance also avoids incorrect selection background color with
   light text. */
xul|menulist::part(label-box),
xul|*.radio-label-box,
xul|*.checkbox-label-box {
  appearance: none;
}

xul|button[type="menu"] > xul|*.button-box > xul|*.button-menu-dropmarker {
  appearance: none !important;
}

xul|menulist {
  font-size: inherit;
}

xul|menulist::part(dropmarker) {
  display: -moz-box;
  margin-block: 6px;
}

xul|menulist:-moz-focusring::part(label-box) {
  outline: none;
}

html|button {
  /* XUL button min-width */
  min-width: 6.3em;
}

xul|tab {
  min-height: 2.5em;
}

:host(dialog[subdialog]) .dialog-button-box > button {
  min-height: var(--in-content-button-height);
  padding-block: initial;
  padding-inline: 15px;
  border-color: transparent;
  border-radius: var(--in-content-button-border-radius);
}
