# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Wo Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean-SDK</a> je biblioteka hromadźenja datow, kotraž so w produktach Mozilla wužiwa. Tuta strona je za wuwiwarjow a testowarjow, kotřiž dyrbja <a data-l10n-name="fog-debug-doc-link">status za pytanje zmylkow a protokolowanje w Glean-SDK konfigurować</a>.
about-glean-warning = Znjewužiwanje tutoho interfejsa móže spad { -brand-short-name } zawinować.
tag-pings-label = Wšě pósłane pingi z tutej značku markěrować
log-pings-label = Pingowe wužiwanske daty do słanja protokolować?
send-pings-label = Pomjenowany ping pósłać
controls-button-label = Nastajenja wotpósłać
controls-button-label-verbose = Nastajenja nałožić a ping wotpósłać
