# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Εισαγωγή
export-page-title = Εξαγωγή

## Header

import-start = Εργαλείο εισαγωγής
import-start-title = Εισαγάγετε ρυθμίσεις ή δεδομένα από μια εφαρμογή ή ένα αρχείο.
import-start-description = Επιλογή της πηγής από την οποία θέλετε να κάνετε εισαγωγή. Αργότερα θα ερωτηθείτε να επιλέξετε ποια δεδομένα θα εισαχθούν.
import-from-app = Εισαγωγή από εφαρμογή
import-file = Εισαγωγή από αρχείο
import-file-title = Επιλέξτε ένα αρχείο για να εισαγάγετε το περιεχόμενό του.
import-file-description = Επιλέξτε για εισαγωγή ένα προφίλ, βιβλία διευθύνσεων ή ημερολόγια που έχετε ήδη πάρει παλιότερα αντίγραφο ασφαλείας.
import-address-book-title = Εισαγωγή αρχείου ευρετηρίου
import-calendar-title = Εισαγωγή αρχείου ημερολογίου
export-profile = Εξαγωγή

## Buttons

button-back = Πίσω
button-continue = Συνέχεια
button-export = Εξαγωγή
button-finish = Τέλος

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Εισαγωγή από άλλη εγκατάσταση του { app-name-thunderbird }
source-thunderbird-description = Εισαγωγή ρυθμίσεων, φίλτρων, μηνυμάτων και άλλων δεδομένων από ένα προφίλ { app-name-thunderbird }.
source-seamonkey = Εισαγωγή από εγκατάσταση του { app-name-seamonkey }
source-seamonkey-description = Εισαγωγή ρυθμίσεων, φίλτρων, μηνυμάτων και άλλων δεδομένων από ένα προφίλ { app-name-seamonkey }.
source-outlook = Εισαγωγή από { app-name-outlook }
source-outlook-description = Εισαγωγή λογαριασμών, βιβλίων διευθύνσεων και μηνυμάτων από { app-name-outlook }.
source-becky = Εισαγωγή από { app-name-becky }
source-becky-description = Εισαγωγή βιβλίων διευθύνσεων και μηνυμάτων από { app-name-becky }.
source-apple-mail = Εισαγωγή από { app-name-apple-mail }
source-apple-mail-description = Εισαγωγή μηνυμάτων από { app-name-apple-mail }.
source-file2 = Εισαγωγή από αρχείο
source-file-description = Επιλέξτε ένα αρχείο για εισαγωγή βιβλίων διευθύνσεων, ημερολογίων ή αντιγράφου ασφαλείας προφίλ (αρχείο ZIP).

## Import from file selections

file-profile2 = Εισαγωγή εφεδρικού προφίλ
file-profile-description = Επιλέξτε ένα προφίλ Thunderbird από αντίγραφο ασφαλείας (.zip)
file-calendar = Εισαγωγή ημερολογίων
file-calendar-description = Επιλέξτε ένα αρχείο που περιέχει Ημερολόγια ή Συμβάντα που έχουν εξαχθεί (.ics)
file-addressbook = Εισαγωγή ευρετηρίων διευθύνσεων
file-addressbook-description = Επιλέξτε ένα αρχείο που περιέχει Βιβλία Διευθύνσεων και Επαφές

## Import from app profile steps

from-app-thunderbird = Εισαγωγή από προφίλ του { app-name-thunderbird }
from-app-seamonkey = Εισαγωγή από προφίλ του { app-name-seamonkey }
from-app-outlook = Εισαγωγή από { app-name-outlook }
from-app-becky = Εισαγωγή από { app-name-becky }
from-app-apple-mail = Εισαγωγή από { app-name-apple-mail }
profiles-pane-title-thunderbird = Εισαγωγή Ρυθμίσεων και Δεδομένων από ένα προφίλ { app-name-thunderbird }.
profiles-pane-title-seamonkey = Εισαγωγή Ρυθμίσεων και Δεδομένων από ένα προφίλ { app-name-seamonkey }.
profiles-pane-title-outlook = Εισαγωγή δεδομένων από { app-name-outlook }.
profiles-pane-title-becky = Εισαγωγή δεδομένων από { app-name-becky }.
profiles-pane-title-apple-mail = Εισαγωγή μηνυμάτων από { app-name-apple-mail }.
profile-source = Εισαγωγή από προφίλ
# $profileName (string) - name of the profile
profile-source-named = Εισαγωγή από προφίλ <strong>«{ $profileName }»</strong>
profile-file-picker-directory = Επιλέξτε ένα φάκελο του προφίλ
profile-file-picker-archive = Επιλέξτε ένα αρχείο <strong>ZIP</strong>
profile-file-picker-archive-description = Το αρχείο ZIP πρέπει να είναι μικρότερο από 2 GB.
profile-file-picker-archive-title = Επιλέξτε ένα αρχείο ZIP (μικρότερο από 2GB)
items-pane-title2 = Επιλέξτε τι θα εισαγάγετε:
items-pane-directory = Κατάλογος:
items-pane-profile-name = Όνομα προφίλ:
items-pane-checkbox-accounts = Λογαριασμοί και ρυθμίσεις
items-pane-checkbox-address-books = Ευρετήρια
items-pane-checkbox-calendars = Ημερολόγια
items-pane-checkbox-mail-messages = Μηνύματα email
items-pane-override = Τυχόν υπάρχοντα ή πανομοιότυπα δεδομένα θα αντικατασταθούν.

## Import from address book file steps

import-from-addr-book-file-description = Επιλέξτε τη μορφή αρχείου που περιέχει τα δεδομένα των Βιβλίων Διευθύνσεων.
addr-book-csv-file = Αρχείο διαχωρισμένο με κόμμα ή καρτέλα (.csv, .tsv)
addr-book-ldif-file = Αρχείο LDIF (.ldif)
addr-book-vcard-file = Αρχείο vCard (.vcf, .vcard)
addr-book-sqlite-file = Αρχείο βάσης δεδομένων SQLite (.sqlite)
addr-book-mab-file = Αρχείο βάσης δεδομένων Mork (.mab)
addr-book-file-picker = Επιλογή αρχείου ευρετηρίου
addr-book-csv-field-map-title = Αντιστοίχιση ονομάτων πεδίων
addr-book-csv-field-map-desc = Επιλέξτε τα ευρετήρια που αντιστοιχούν στα πεδία πηγής. Καταργήστε την επιλογή των πεδίων που δεν θέλετε να εισαγάγετε.
addr-book-directories-title = Επιλέξτε που θα γίνει η εισαγωγή των δεδομένων που επιλέξατε
addr-book-directories-pane-source = Αρχείο πηγής:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Δημιουργήστε ένα νέο κατάλογο με όνομα <strong>"{ $addressBookName }"</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Εισαγάγετε τα επιλεγμένα δεδομένα στον κατάλογο "{ $addressBookName }"
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Θα δημιουργηθεί ένα νέο βιβλίο διευθύνσεων με όνομα "{ $addressBookName }".

## Import from calendar file steps

import-from-calendar-file-desc = Επιλέξτε το αρχείο iCalendar (.ics) που θέλετε να εισαγάγετε.
calendar-items-title = Επιλέξτε στοιχεία προς εισαγωγή.
calendar-items-loading = Φόρτωση στοιχείων…
calendar-items-filter-input =
    .placeholder = Φιλτράρισμα στοιχείων…
calendar-select-all-items = Επιλογή όλων
calendar-deselect-all-items = Αποεπιλογή όλων
calendar-target-title = Επιλέξτε που θα γίνει η εισαγωγή των αντικειμένων που επιλέξατε.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Δημιουργήστε ένα νέο ημερολόγιο με όνομα <strong>"{ $targetCalendar }"</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] Εισαγωγή ενός αντικειμένου στο ημερολόγιο "{ $targetCalendar }"
       *[other] Εισαγωγή { $itemCount } αντικειμένων στο ημερολόγιο "{ $targetCalendar }"
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Θα δημιουργηθεί ένα νέο ημερολόγιο με όνομα "{ $targetCalendar }".

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Εισαγωγή… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Εξαγωγή… { $progressPercent }
progress-pane-finished-desc2 = Ολοκληρώθηκε.
error-pane-title = Σφάλμα
error-message-zip-file-too-big2 = Το επιλεγμένο αρχείο ZIP είναι μεγαλύτερο από 2GB. Αποσυμπιέστε το πρώτα και μετά εισαγάγετε τον φάκελο που έγινε η εξαγωγή.
error-message-extract-zip-file-failed2 = Αδύνατη η εξαγωγή του αρχείου ZIP. Αποσυμπιέστε το χειροκίνητα και μετά εισαγάγετε από το φάκελο που θα εξαχθούν τα αρχεία.
error-message-failed = Η εισαγωγή απέτυχε απροσδόκητα, περισσότερες πληροφορίες ενδέχεται να είναι διαθέσιμες στην Κονσόλα Σφαλμάτων.
error-failed-to-parse-ics-file = Δεν βρέθηκαν στοιχεία προς εισαγωγή στο αρχείο.
error-export-failed = Απρόσμενη αποτυχία εξαγωγής, περισσότερες πληροφορίες θα βρείτε στην κονσόλα σφαλμάτων.
error-message-no-profile = Δεν βρέθηκε προφίλ.

## <csv-field-map> element

csv-first-row-contains-headers = Η πρώτη σειρά περιέχει ονόματα πεδίων
csv-source-field = Πεδίο πηγής
csv-source-first-record = Πρώτη καταχώρηση
csv-source-second-record = Δεύτερη καταχώρηση
csv-target-field = Πεδίο ευρετηρίου διευθύνσεων

## Export tab

export-profile-title = Εξαγωγή λογαριασμών, μηνυμάτων, βιβλίων διευθύνσεων και ρυθμίσεων σε αρχείο ZIP.
export-profile-description = Αν το τρέχον προφίλ σας είναι μεγαλύτερο από 2GB, προτείνεται η λήψη αντιγράφου ασφαλείας από εσάς.
export-open-profile-folder = Άνοιγμα φακέλου προφίλ
export-file-picker2 = Εξαγωγή σε αρχείο ZIP
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Δεδομένα προς εισαγωγή
summary-pane-start = Έναρξη εισαγωγής
summary-pane-warning = Το { -brand-product-name } θα πρέπει να επανεκκινήσει αφού ολοκληρωθεί η εισαγωγή.
summary-pane-start-over = Επανεκκίνηση εργαλείου εισαγωγής

## Footer area

footer-help = Χρειάζεστε βοήθεια;
footer-import-documentation = Τεκμηρίωση εισαγωγής
footer-export-documentation = Τεκμηρίωση εξαγωγής
footer-support-forum = Φόρουμ υποστήριξης

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Βήματα εισαγωγής
step-confirm = Επιβεβαίωση
# Variables:
# $number (number) - step number
step-count = { $number }
