# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Makket stipe foar de eksperimintele funksje CSS Masonry Layout mooglik. Lês de <a data-l10n-name="explainer">útlis</a> foar in globale beskriuwing fan de funksje. Pleats in opmerking yn <a data-l10n-name="w3c-issue">dit GitHub-issue</a> of <a data-l10n-name="bug">dizze bug</a> om kommentaar te leverjen.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Dizze nije API biedt stipe op leech nivo foar it útfieren fan berekkeningen en grafyske werjefte mei help fan de <a data-l10n-name="wikipedia">Graphics Processing Unit (GPU)</a> fan it apparaat of de kompjûter fan de brûker. De <a data-l10n-name="spec">spesifikaasje</a> is noch hieltyd yn ûntwikkeling. Sjoch <a data-l10n-name="bugzilla">bug 1602129</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Media: JPEG XL
experimental-features-media-jxl-description = As dizze funksje ynskeakele is, stipet { -brand-short-name } de JPEG XL (JXL)-yndieling. Dit is in ferbettere bestânsyndieling foar ôfbyldingen dy’t in ferliesfrije oergong fan tradisjonele JPEG-bestannen stipet. Sjoch <a data-l10n-name="bugzilla">bug 1539075</a> foar mear details.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = De tafoeging fan in constructor oan de <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>-ynterface en in oantal relatearre wizigingen, makket it mooglik om daliks nije stylesheets te meitsjen sûnder it blêd ta te foegjen oan de HTML. Dit makket it folle makliker om op nij brûkbere stylesheets te meitsjen foar gebrûk mei <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Sjoch <a data-l10n-name="bugzilla">bug 1520690</a> foar mear details.
experimental-features-devtools-compatibility-panel =
    .label = Developer Tools: Compatibility Panel
experimental-features-devtools-compatibility-panel-description = In sidepaniel foar de Page Inspector dat ynformaasje toant oer de kompatibiliteitssteat fan de browser yn jo app. Sjoch <a data-l10n-name="bugzilla">bug 1584464</a> foar mear details.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax as standert
experimental-features-cookie-samesite-lax-by-default2-description = Cookies standert as ‘SameSite=Lax’ behannelje as der gjin attribút foar ‘SameSite’ spesifisearre is. Untwikkelers moatte de aktuele status kwo fan ûnbeheind gebrûk bewust ynstelle troch eksplisyt ‘SameSite=None’ fêst te lizzen.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite=None fereasket in feilich attribút
experimental-features-cookie-samesite-none-requires-secure2-description = Foar cookies mei attribút ‘SameSite=None’ is it feilige attribút fereaske. Dizze funksje fereasket ‘Cookies: SameSite=Lax as standert’.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = Opstartbuffer about:home
experimental-features-abouthome-startup-cache-description = In opstartbuffer foar it inisjele about:home-dokumint wurdt by opstarten standert laden. It doel fan dizze buffer is it ferbetterjen fan de opstartprestaasjes.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Behannelje cookies fan itselfe domein, mar mei ferskate skema’s (bygelyks http://example.com en https://example.com) as cross-site yn stee fan deselfe site. Ferbetteret de befeiliging, mar soarget der mooglik foar dat de website net goed wurket.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Developer Tools: Service Worker debugging
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Skeakelet yn it Debugger-paniel eksperimintele stipe foar service workers yn. Dizze funksje kin helpmiddelen foar webûntwikkelers fertrage en it ûnthâldgebrûk ferheegje.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Mute-skeakelers
experimental-features-webrtc-global-mute-toggles-description = Foeget betsjinningen ta oan de algemiene dielyndikator fan WebRTC, wêrmei brûkers harren mikrofoan- en kamerafeeds algemien dôvje kinne.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Warp ynskeakelje, in projekt om de prestaasjes fan JavaScript en ûnthâldgebrûk te ferbetterjen.
# Search during IME
experimental-features-ime-search =
    .label = Adresbalke: resultaten toane wylst opstellen mei IME
experimental-features-ime-search-description = In IME (Input Method Editor) is in helpmiddel wêrmei't jo komplekse symboalen, lykas yn East-Aziatyske of Yndyske skreaune talen brûkt wurdt, mei in standert toetseboerd ynfiere kinne. As jo dit eksperimint ynskeakelje, bliuwt it adresbalkepaniel iepen, wêrby sykresultaten en -suggestjes toand wurde, wylst jo IME brûke om tekst yn te fieren. Merk op dat de IME ien paniel toane kin dat de adresbalkeresultaten ôfdekt; dêrom wurdt dizze foarkar allinnich foarsteld foar IME wêrby dit type paniel net brûkt wurdt.
# Text recognition for images
experimental-features-text-recognition =
    .label = Tekstwerkenning
experimental-features-text-recognition-description = Funksjes ynskeakelje om tekst yn ôfbyldingen te werkennen.
