# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Importěrowaś
export-page-title = Eksportěrowaś

## Header

import-start = Importěrowański rěd
import-start-title = Nastajenja abo daty z nałoženja abo dataje importěrowaś.
import-start-description = Wubjeŕśo žrědło, z kótaregož cośo importěrowaś. Pšose was pózdźej wubraś, kótare daty maju se importěrowaś.
import-from-app = Z nałoženja importěrowaś
import-file = Z dataje importěrowaś
import-file-title = Wubjeŕśo dataju, aby jeje wopśimjeśe importěrował.
import-file-description = Wubjeŕśo, aby do togo zawěsćony profil, adresniki abo kalendery importěrował.
import-address-book-title = Adresnikowu dataju importěrowaś
import-calendar-title = Dataju kalendera importěrowaś
export-profile = Eksportěrowaś

## Buttons

button-back = Slědk
button-continue = Dalej
button-export = Eksportěrowaś
button-finish = Dokóńcyś

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Z drugeje instalacije { app-name-thunderbird } importěrowaś
source-thunderbird-description = Nastajenja, filtry, powěsći a druge daty z profila { app-name-thunderbird } importěrowaś
source-seamonkey = Z instalacije { app-name-seamonkey } importěrowaś
source-seamonkey-description = Nastajenja, filtry, powěsći a druge daty z profila { app-name-seamonkey } importěrowaś
source-outlook = Z { app-name-outlook } importěrowaś
source-outlook-description = Konta, adresniki a powěsći z { app-name-outlook } importěrowaś.
source-becky = Z { app-name-becky } importěrowaś
source-becky-description = Adresniki a powěsći z { app-name-becky } importěrowaś.
source-apple-mail = Z { app-name-apple-mail } importěrowaś
source-apple-mail-description = Powěsći z { app-name-apple-mail } importěrowaś.
source-file2 = Z dataje importěrowaś
source-file-description = Wubjeŕśo dataju, aby adresniki, kalendery abo profilowe zawěsćenje (ZIP-dataju) importěrował.

## Import from file selections

file-profile2 = Zawěsćony profil importěrowaś
file-profile-description = Wubjeŕśo do togo zawěsćony profil Thunderbird (.zip)
file-calendar = Kalendarje importěrowaś
file-calendar-description = Wubjeŕśo dataju, kótaraž eksportěrowane kalendery abo tšojenja wopśimujo (.ics)
file-addressbook = Adresniki importěrowaś
file-addressbook-description = Wubjeŕśo dataju, kótaraž eksportěrowane adresniki a kontakty wopśimujo

## Import from app profile steps

from-app-thunderbird = Z profila { app-name-thunderbird } importěrowaś
from-app-seamonkey = Z profila { app-name-seamonkey } importěrowaś
from-app-outlook = Z { app-name-outlook } importěrowaś
from-app-becky = Z { app-name-becky } importěrowaś
from-app-apple-mail = Z { app-name-apple-mail } importěrowaś
profiles-pane-title-thunderbird = Nastajenja a daty z profila { app-name-thunderbird } importěrowaś
profiles-pane-title-seamonkey = Nastajenja a daty z profila { app-name-seamonkey } importěrowaś
profiles-pane-title-outlook = Daty z { app-name-outlook } importěrowaś.
profiles-pane-title-becky = Daty z { app-name-becky } importěrowaś.
profiles-pane-title-apple-mail = Powěsći z { app-name-apple-mail } importěrowaś.
profile-source = Z profila importěrowaś
# $profileName (string) - name of the profile
profile-source-named = Z profila <strong>"{ $profileName }"</strong> importěrowaś
profile-file-picker-directory = Profilowy zarědnik wubraś
profile-file-picker-archive = <strong>ZIP</strong>-dataju wubraś
profile-file-picker-archive-description = ZIP-dataja musy mjeńša ako 2 GB byś.
profile-file-picker-archive-title = Wubjeŕśo ZIP-dataju (mjeńšu ako 2 GB)
items-pane-title2 = Wubjeŕśo, což ma se importěrowaś:
items-pane-directory = Zapis:
items-pane-profile-name = Profilowe mě:
items-pane-checkbox-accounts = Konta a nastajenja
items-pane-checkbox-address-books = Adresniki
items-pane-checkbox-calendars = Kalendarje
items-pane-checkbox-mail-messages = Mejlki
items-pane-override = Eksistěrujuce abo identiske daty se njepśepišu.

## Import from address book file steps

import-from-addr-book-file-description = Wubjeŕśo datajowy format, kótaryž waše adresnikowe daty wopśimujo.
addr-book-csv-file = Dataja źělona pśez komu abo rejtarik (.csv, .tsv)
addr-book-ldif-file = Dataja LDIF (.ldif)
addr-book-vcard-file = Dataja vCard (.vcf, .vcard)
addr-book-sqlite-file = Dataja datoweje banki SQLite (.sqlite)
addr-book-mab-file = Dataja datoweje banki Mork (.mab)
addr-book-file-picker = Adresnikowu dataju wubraś
addr-book-csv-field-map-title = Pólnym mjenjam wótpowědowaś
addr-book-csv-field-map-desc = Wubjeŕśo póla adresnika, kótarež žrědłowym pólam wótpowěduju. Znjemóžniśo póla, kótarež njocośo importěrowaś.
addr-book-directories-title = Wubjeŕśo, źož ma se wubrane daty importěrowaś.
addr-book-directories-pane-source = Žrědłowa dataja:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Napórajśo nowy zapis z mjenim <strong>„{ $addressBookName }“</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Importěrujśo wubrane daty do zapisa „{ $addressBookName }“
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = Nowy adresnik z mjenim „{ $addressBookName }“ se napórajo.

## Import from calendar file steps

import-from-calendar-file-desc = Wubjeŕśo dataju iCalendar (.ics), kótaruž cośo importěrowaś:
calendar-items-title = Wubjeŕśo elementy za importěrowanje.
calendar-items-loading = Zapiski se cytaju…
calendar-items-filter-input =
    .placeholder = Zapiski filtrowaś…
calendar-select-all-items = Wšykne wubraś
calendar-deselect-all-items = Wšykne wótwóliś
calendar-target-title = Wubjeŕśo, źož ma se wubrane elementy importěrowaś.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Napórajśo nowy kalender z mjenim <strong>„{ $targetCalendar }“</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] { $itemCount } element do kalendera „{ $targetCalendar }“ importěrowaś
        [two] { $itemCount } elementa do kalendera „{ $targetCalendar }“ importěrowaś
        [few] { $itemCount } elementy do kalendera „{ $targetCalendar }“ importěrowaś
       *[other] { $itemCount } elementow do kalendera „{ $targetCalendar }“ importěrowaś
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = Nowy kalender z mjenim „{ $targetCalendar }“ se napórajo.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Importěrujo se… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Eksportěrujo se… { $progressPercent }
progress-pane-finished-desc2 = Dokóńcone.
error-pane-title = Zmólka
error-message-zip-file-too-big2 = Wubrana ZIP-dataja jo wětša ako 2 GB. Pšosym rozpakujśo ju nejpjerwjej, a importěrujśo wopśimjeśe z rozpakowanego zarědnika město togo.
error-message-extract-zip-file-failed2 = ZIP-dataja njedajo se rozpakowaś. Pšosym rozpakujśo ju manuelnje a importěrujśo ju pón město togo z ekstrahěrowanego zarědnika.
error-message-failed = Importěrowanje njejo se njenaźejucy raźiło, dalšne informacije namakajośo snaź w zmólkowej konsoli.
error-failed-to-parse-ics-file = Importěrujobne zapiski njejsu se namakali w dataji.
error-export-failed = Eksportěrowanje njejo se njenaźejucy raźiło, dalšne informacije namakajośo snaź w zmólkowej konsoli.
error-message-no-profile = Žeden profil namakany.

## <csv-field-map> element

csv-first-row-contains-headers = Prědna smužka wopśimujo pólowe mjenja
csv-source-field = Žrědłowa dataja
csv-source-first-record = Prědna datowa sajźba
csv-source-second-record = Druga datowa sajźba
csv-target-field = Pólo adresnika

## Export tab

export-profile-title = Konta, powěsći, adresniki a nastajenja do ZIP-dataje eksportěrowaś.
export-profile-description = Jolic waš aktualny profil jo wětšy ako 2 GB, naraźujomy, až jen zawěsćujośo.
export-open-profile-folder = Profilowy zarědnik wócyniś
export-file-picker2 = Do ZIP-dataje eksportěrowaś
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Daty, kótarež se maju importěrowaś
summary-pane-start = Import zachopiś
summary-pane-warning = Musyśo { -brand-product-name } znowego startowaś, aby se importěrowanje dokóńcyło.
summary-pane-start-over = Importěrowański rěd znowego startowaś

## Footer area

footer-help = Trjebaśo pomoc?
footer-import-documentation = Importěrowańska dokumentacija
footer-export-documentation = Eksportěrowańska dokumentacija
footer-support-forum = Forum pomocy

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Importěrowańske kšace
step-confirm = Wobkšuśiś
# Variables:
# $number (number) - step number
step-count = { $number }
