# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Alıcı
message-header-from-list-name = Gönderen
message-header-sender-list-name = Gönderen
message-header-reply-to-list-name = Yanıtla
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Haber grupları
message-header-tags-list-name = Etiketler

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Yazar<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Kuruluş<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Konu<span data-l10n-name="field-separator">:</span>
message-header-date-field = Tarih<span data-l10n-name="field-separator">:</span>
message-header-website-field = Web sitesi<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Adres defterinde
message-header-address-not-in-address-book-icon2 =
    .alt = Adres defterinde yok
message-header-address-not-in-address-book-button =
    .title = Bu adresi adres defterine kaydet
message-header-address-in-address-book-button =
    .title = Kişiyi düzenle
message-header-field-show-more = Daha fazla
    .title = Tüm alıcıları göster
message-ids-field-show-all = Tümünü göster
