# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout (hargintza-diseinua)
experimental-features-css-masonry-description = CSS Masonry Layout eginbide esperimentalaren euskarria gaitzen du. Ikusi <a data-l10n-name="explainer">azalpena</a> eginbidearen goi mailako deskribapen baterako. Iritzia emateko, idatzi iruzkina <a data-l10n-name="w3c-issue">GitHub issue honetan</a> edo <a data-l10n-name="bug">bug honetan</a>.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = API berri honek behe mailako euskarria ematen du konputazioak eta grafikoen errendatzea burutzeko erabiltzailearen gailu edo ordenagailuko <a data-l10n-name="wikipedia">GPUa</a> erabiliz. <a data-l10n-name="spec">Espezifikazioa</a> oraindik lantze-fasean dago. Ikusi <a data-l10n-name="bugzilla">1602129 buga</a> xehetasun gehiagorako.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Multimedia: JPEG XL
experimental-features-media-jxl-description = Eginbide hau gaitzean, { -brand-short-name }(e)k JPEG XL (JXL) formatua onartuko du. Irudi-formatu hobetua da hau eta galerarik gabeko JPEG fitxategi tradizionalak onartzen ditu. Ikusi <a data-l10n-name="bugzilla">1539075 buga</a> xehetasun gehiagorako.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: estilo-orri eraikigarriak
experimental-features-css-constructable-stylesheets-description = <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> interfazearen eraikitzaile bat gehitzea, bai eta estilo-orri berriak zuzenean, orria HTMLan gehitzeko beharrik gabe, sortzeko eginbidea ahalbidetzen duten erlazionatutako aldaketak. Honen bidez askozaz errazagoa da <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>ekin erabiltzeko estilo-orri berrerabilgarriak sortzea . Ikusi <a data-l10n-name="bugzilla">1520690 buga</a> xehetasun gehiagorako.
experimental-features-devtools-compatibility-panel =
    .label = Garatzaile-tresnak: bateragarritasun-panela
experimental-features-devtools-compatibility-panel-description = Zure aplikazioaren nabigatzaile-arteko bateragarritasun-egoera xehatuaren informazioa erakusten duen orriaren ikuskatzaileko albo-panela. Ikusi <a data-l10n-name="bugzilla">1584464 buga</a> xehetasun gehiagorako.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookieak: SameSite=Lax lehenespenez
experimental-features-cookie-samesite-lax-by-default2-description = Tratatu cookieak lehenespenez "SameSite=Lax" balira bezala ez denean "SameSite" atributurik zehazten. Garatzaileek eurek aukeratu behar dute uneko mugarik gabeko erabilpenera esplizituki "SameSite=None" ezarriz.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookieak: SameSite=None ezartzeak secure atributua behar du
experimental-features-cookie-samesite-none-requires-secure2-description = "SameSite=None" atributua duten cookiek secure atributua behar dute. Eginbide honek "Cookieak: SameSite=Lax lehenespenez" eginbidea ere behar du.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home abioko cachea
experimental-features-abouthome-startup-cache-description = Abioan lehenespenez kargatzen den hasierako about:home dokumenturako cachea. Honen helburua da abioko errendimendua hobetzea.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookieak: eskemadun SameSite
experimental-features-cookie-samesite-schemeful-description = Domeinu bereko baina eskema desberdineko cookieak (adib. http://adibidea.eus eta https://adibidea.eus) gune-arteko gisa, eta ez gune bereko gisa, tratatu. Segurtasuna hobetzen du baina haustura eragin lezake.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Garatzaile-tresnak: zerbitzu-langileen arazketa
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Zerbitzu-langileen euskarri esperimentala gaitzen du Arazketa panelean. Eginbide honek garatzaile-tresnak motel litzake eta bere memoria-kontsumoa handitu.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC mututzea globalki txandakatzea
experimental-features-webrtc-global-mute-toggles-description = Erabiltzaileei globalki mikrofono eta kamerak mututzea baimentzen dien WebRTC partekatze globaleko adierazleari kontrolak gehitzen dizkio.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Gaitu Warp, JavaScript-en erredinemdua eta memoria-erabilpena hobetzeko proiektua.
# Search during IME
experimental-features-ime-search =
    .label = Helbide-barra: erakutsi emaitzak IME konposizioan
experimental-features-ime-search-description = Sinbolo konplexuak (Asia Ekialdeko edo Indiako hizkuntza idatzietakoak, adibidez) teklatu bidez idaztea baimentzen duen tresna da IME bat (Input Method Editor). Esperimentu hau gaitzean helbide-barra irekita mantenduko da, bilaketa-emaitzak eta iradokizunak erakutsiz IME erabili ahala testua idazteko. Konturatu IMEak helbide-barrako emaitzen gainetik bistara dezakeela panel bat, hortaz hobespen hau gomendatzen da soilik IMEak mota honetako panela erabiltzen ez duenean.
# Text recognition for images
experimental-features-text-recognition =
    .label = Testu-ezagutza
experimental-features-text-recognition-description = Gaitu irudietako testua ezagutzeko eginbideak.
