# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Deneysel CSS Masonry Layout desteğini etkinleştirir. Bu özellik hakkında daha detaylı bilgi için <a data-l10n-name="explainer">anlatıcıya</a> bakabilirsiniz. Geri bildirimde bulunmak için <a data-l10n-name="w3c-issue">GitHub’daki bu soruna</a> veya <a data-l10n-name="bug">bu bug’a</a> yorum yapabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = Web API: WebGPU
experimental-features-web-gpu-description2 = Bu yeni API, kullanıcının cihazının veya bilgisayarının <a data-l10n-name="wikipedia">grafik işlem birimi (GPU)</a> kullanılarak hesaplama ve grafik oluşturma için düşük seviyeli destek sağlar. <a data-l10n-name="spec">Şartname</a> çalışmaları halen devam etmektedir. Ayrıntılar için <a data-l10n-name="bugzilla">bug 1602129</a>'a bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Ortam: JPEG XL
experimental-features-media-jxl-description = Bu özellik etkinleştirildiğinde { -brand-short-name } uygulaması JPEG XL (JXL) biçimini destekler. Bu, geleneksel JPEG dosyalarından kayıpsız çevirmeyi destekleyen gelişmiş bir resim dosyası biçimidir. Daha fazla bilgi için <a data-l10n-name="bugzilla">bug 1539075</a>'e bakabilirsiniz.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a> arayüzüne bir constructor’ın eklenmesi ve bununla ilgili çeşitli değişiklikler, yeni stil dosyalarını HTML’e eklemeye gerek kalmadan oluşturmayı mümkün kılıyor. Bu da <a data-l10n-name="mdn-shadowdom">Shadow DOM</a> ile yeniden kullanılabilen stil dosyaları oluşturmayı kolaylaştırıyor. Daha fazla bilgi için <a data-l10n-name="bugzilla">bug 1520690</a>’a bakabilirsiniz.
experimental-features-devtools-compatibility-panel =
    .label = Geliştirici Araçları: Uyumluluk Paneli
experimental-features-devtools-compatibility-panel-description = Sayfa Denetçisi için, uygulamanızın tarayıcılar arası uyumluluk durumunu ayrıntılı olarak gösteren yan panel. Daha fazla bilgi için bkz. <a data-l10n-name="bugzilla">bug 1584464</a>.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Çerezler: Varsayılan olarak SameSite=Lax
experimental-features-cookie-samesite-lax-by-default2-description = Hiçbir “SameSite” özniteliği belirtilmemişse çerezleri “SameSite=Lax” olarak değerlendirir. Geliştiricilerin şu anda yaygın uygulama olan sınırsız kullanımı sürdürmek için “SameSite=None” şeklinde özellikle belirtmeleri gerekir.
# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Çerezler: SameSite=None, secure özniteliği gerektirsin
experimental-features-cookie-samesite-none-requires-secure2-description = “SameSite=None” özniteliğine sahip çerezler secure özniteliği gerektirir. Bu özellik “Çerezler: Varsayılan olarak SameSite=Lax” deneyini gerektirir.
# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = about:home başlangıç önbelleği
experimental-features-abouthome-startup-cache-description = Başlangıçta varsayılan olarak yüklenen about:home belgesi için önbellek. Bu önbelleğin amacı, başlangıç performansını artırmaktır.
# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Çerezler: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Aynı alan adındaki ancak farklı şemadaki sitelerin (örn. http://example.com ve https://example.com) çerezlerini aynı site olarak saymak yerine siteler arası olarak sayar. Güvenliği artırır ama bazı sitelerin bozulmasına yol açabilir.
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Geliştirici Araçları: Service Worker hata ayıklama
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Hata ayıklama panelinde Service Worker’lar için deneysel destek sağlar. Bu özellik, Geliştirici Araçlarını yavaşlatabilir ve bellek tüketimini artırabilir.
# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = WebRTC Global Ses Kapatma Düğmeleri
experimental-features-webrtc-global-mute-toggles-description = WebRTC genel paylaşım göstergesine kullanıcıların mikrofonlarını ve kameralarını her yerde sessize almalarını sağlayan düğmeleri ekler.
# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = JavaScript performansını ve bellek kullanımını iyileştirme projesi Warp'u etkinleştirir.
# Search during IME
experimental-features-ime-search =
    .label = Adres Çubuğu: IME oluşturma sırasında sorunları göster
experimental-features-ime-search-description = IME (Giriş Yöntemi Düzenleyicisi), standart bir klavye kullanarak Doğu Asya veya Hintçe yazı dillerinde kullanılanlar gibi karmaşık sembolleri girmenize olanak tanıyan bir araçtır. Bu deneyi etkinleştirmek, metin girmek için IME'yi kullanırken adres çubuğu panelini açık tutacak ve arama sonuçlarını ve önerileri gösterecektir. IME'nin adres çubuğu sonuçlarını örten bir panel görüntüleyebileceğini, bu nedenle bu tercihin yalnızca bu tür bir paneli kullanmayan IME'ler için önerildiğini unutmayın.
# Text recognition for images
experimental-features-text-recognition =
    .label = Metin tanıma
experimental-features-text-recognition-description = Resimlerdeki metinleri tanıma özelliklerini etkinleştir.
