# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-masonry2 =
    .label = CSS: Masonry Layout
experimental-features-css-masonry-description = Permite o soporte para a funcionalidade de deseño experimental de CSS Masonry Layout. Consulte o <a data-l10n-name="explainer"> explicador </a> para unha descrición de alto nivel da función. Para obter comentarios, comente <a data-l10n-name="w3c-issue"> este problema de GitHub </a> ou <a data-l10n-name="bug"> este erro </a>.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-web-gpu2 =
    .label = API web: WebGPU
experimental-features-web-gpu-description2 = Esta nova API ofrece soporte de baixo nivel para realizar computacións e renderización de gráficos mediante a <a data-l10n-name="wikipedia"> Unidade de procesamento gráfico (GPU) </a> do dispositivo ou ordenador do usuario. A <a data-l10n-name="spec"> especificación </a> aínda está en proceso de traballo. Consulte <a data-l10n-name="bugzilla"> erro 1602129 </a> para máis detalles.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-media-jxl =
    .label = Soporte: JPEG XL
experimental-features-media-jxl-description = Con esta función habilitada,  { -brand-short-name } admite o formato JPEG XL (JXL). Este é un formato de ficheiro de imaxe mellorado que admite a transición sen perdas dos ficheiros JPEG tradicionais. Consulte o <a data-l10n-name="bugzilla">erro 1539075</a> para obter máis detalles.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-css-constructable-stylesheets =
    .label = CSS: Constructable Stylesheets
experimental-features-css-constructable-stylesheets-description = A adición dun construtor á interface <a data-l10n-name="mdn-cssstylesheet">CSSStyleSheet</a>, así como a unha variedade de cambios relacionados, fai posible crear directamente novas follas de estilo sen ter que engadir a folla ao HTML. Isto fai moito máis sinxelo crear follas de estilo reutilizables para o seu uso con <a data-l10n-name="mdn-shadowdom">Shadow DOM</a>. Consulte <a data-l10n-name="bugzilla">erro 1520690</a> para máis detalles.

experimental-features-devtools-compatibility-panel =
    .label = Ferramentas para desenvolvedores: Panel de compatibilidade
experimental-features-devtools-compatibility-panel-description = Un panel lateral para o inspector de páxina que amosa información sobre o estado da compatibilidade do navegador cruzado do aplicativo. Consulte <a data-l10n-name="bugzilla">erro 1584464</a> para máis detalles.

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-lax-by-default2 =
    .label = Cookies: SameSite=Lax by default
experimental-features-cookie-samesite-lax-by-default2-description = Trate as cookies como "SameSite = Lax" por omisión se non se especifica ningún atributo "SameSite". Os desenvolvedores deben optar ao status quo actual de uso sen restricións afirmando explicitamente "SameSite = None".

# Do not translate 'SameSite', 'Lax' and 'None'.
experimental-features-cookie-samesite-none-requires-secure2 =
    .label = Cookies: SameSite = None require un atributo seguro
experimental-features-cookie-samesite-none-requires-secure2-description = As cookies con atributo "SameSite=None" requiren o atributo seguro. Esta característica require "Cookies: SameSite=Lax by default".

# about:home should be kept in English, as it refers to the the URI for
# the internal default home page.
experimental-features-abouthome-startup-cache =
    .label = caché de inicio de sobre:home
experimental-features-abouthome-startup-cache-description = Unha caché para o documento inicial about:home que se carga por omisión no inicio. O propósito da caché é mellorar o rendemento do inicio.

# The title of the experiment should be kept in English as it may be referenced
# by various online articles and is technical in nature.
experimental-features-cookie-samesite-schemeful =
    .label = Cookies: Schemeful SameSite
experimental-features-cookie-samesite-schemeful-description = Trate as cookies do mesmo dominio, pero con esquemas diferentes (por exemplo, http://example.com e https://example.com) como un sitio cruzado en lugar dun mesmo sitio. Mellora a seguridade, pero potencialmente introduce roturas.

# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support =
    .label = Ferramentas para desenvolvedores: depuración de traballadores
# "Service Worker" is an API name and is usually not translated.
experimental-features-devtools-serviceworker-debugger-support-description = Habilita soporte experimental para os traballadores de servizo no panel Depurador. Esta característica pode retardar as ferramentas para desenvolvedores e aumentar o consumo de memoria.

# WebRTC global mute toggle controls
experimental-features-webrtc-global-mute-toggles =
    .label = Interruptores globais do son WebRTC
experimental-features-webrtc-global-mute-toggles-description = Engadir controis ao indicador de compartición global WebRTC que lles permite aos usuarios silenciar globalmente os fluxos do micrófono e da cámara.

# JS JIT Warp project
experimental-features-js-warp =
    .label = JavaScript JIT: Warp
experimental-features-js-warp-description = Activar Warp, un proxecto para mellorar o rendemento JavaScript e o uso de memoria.

# Search during IME
experimental-features-ime-search =
    .label = Barra de enderezos: amosar os resultados durante a composición IME
experimental-features-ime-search-description = Un IME (Editor de método de entrada) é unha ferramenta que lle permite escribir símbolos complexos, tales como os utilizados na escrita de idiomas do leste asiático ou índico, utilizando un teclado estándar. Activando este experimento, manterase aberto o panel da barra de enderezos, que amosará os resultados da busca e suxestións, mentres se utiliza o IME para escribir texto. Note que o IME pode presentar un panel que cobre os resultados da barra de enderezos; daquela, esta preferencia só é unha suxestión para o IME que non utiliza este tipo de panel.
