# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Oer Glean
about-glean-description = De <a data-l10n-name="glean-sdk-doc-link">Glean-SDK</a> is in biblioteek foar gegevenssamling dy’t brûkt wurdt yn Mozilla-produkten. Dizze side is bedoeld foar ûntwikkelers en testers dy’t <a data-l10n-name="fog-debug-doc-link">de debugging- en lochboeksteat yn de Glean-SDK</a> konfigurearje moatte.
about-glean-warning = As jo dizze interface ferkeard brûke, kin { -brand-short-name } ferûngelokje.

tag-pings-label = Alle ferstjoerde pings mei dizze tag labelje
log-pings-label = Ping-payload logge eardat dizze ferstjoerd wurdt?
send-pings-label = De neamde ping ferstjoere
controls-button-label = Ynstellingen yntsjinje
