# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Importar
export-page-title = Exportar

## Header

import-start = Utensil per importar
import-start-title = Importar parameters u datas dad ina applicaziun u datoteca.
import-start-description = Tscherna la funtauna da la quala ti vuls importar. Ti vegns pli tard anc dumandà da tscherner las datas che duain vegnir importadas.
import-from-app = Importar dad ina applicaziun
import-file = Importar dad ina datoteca
import-file-title = Tscherna ina datoteca per importar ses cuntegn.
import-file-description = Tscherna dad importar in profil segirà pli baud, cudeschets d'adressas u chalenders.
import-address-book-title = Importar la datoteca dad in cudeschet d'adressas
import-calendar-title = Importar ina datoteca da chalender
export-profile = Exportar

## Buttons

button-back = Enavos
button-continue = Cuntinuar
button-export = Exportar
button-finish = Finir

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Importar dad in'autra installaziun da { app-name-thunderbird }
source-thunderbird-description = Importar parameters, filters, messadis ed autras datas dad in profil da { app-name-thunderbird }.
source-seamonkey = Importar dad ina installaziun da { app-name-seamonkey }
source-seamonkey-description = Importar parameters, filters, messadis ed autras datas dad in profil da { app-name-seamonkey }.
source-outlook = Importar da { app-name-outlook }
source-outlook-description = Importar contos, cudeschets d'adressas e messadis dad { app-name-outlook }.
source-becky = Importar da { app-name-becky }
source-becky-description = Importar cudeschets d'adressas e messadis da { app-name-becky }.
source-apple-mail = Importar da { app-name-apple-mail }
source-apple-mail-description = Importar messadis dad { app-name-apple-mail }.
source-file2 = Importar dad ina datoteca
source-file-description = Tscherna ina datoteca per importar cudeschets d'adressas, chalenders u ina copia da segirezza dad in profil (datoteca ZIP).

## Import from file selections

file-profile2 = Importar in profil segirà
file-profile-description = Tscherna in profil da Thunderbird segirà pli baud (.zip)
file-calendar = Importar chalenders
file-calendar-description = Tscherna ina datoteca che cuntegna chalenders exportads u eveniments (.ics)
file-addressbook = Importar cudeschets d'adressas
file-addressbook-description = Tscherna ina datoteca che cuntegna cudeschets d'adressas e contacts exportads

## Import from app profile steps

from-app-thunderbird = Importar dad in profil da { app-name-thunderbird }
from-app-seamonkey = Importar dad in profil da { app-name-seamonkey }
from-app-outlook = Importar dad { app-name-outlook }
from-app-becky = Importar da { app-name-becky }
from-app-apple-mail = Importar dad { app-name-apple-mail }
profiles-pane-title-thunderbird = Importar parameters e datas dad in profil da { app-name-thunderbird }.
profiles-pane-title-seamonkey = Importar parameters e datas da in profil da { app-name-seamonkey }.
profiles-pane-title-outlook = Importar datas dad { app-name-outlook }.
profiles-pane-title-becky = Importar datas da { app-name-becky }.
profiles-pane-title-apple-mail = Importar messadis dad { app-name-apple-mail }.
profile-source = Importar dad in profil
# $profileName (string) - name of the profile
profile-source-named = Importar dal profil <strong>"{ $profileName }"</strong>
profile-file-picker-directory = Tscherner in ordinatur da profil
profile-file-picker-archive = Tscherna ina datoteca <strong>ZIP</strong>
profile-file-picker-archive-description = La datoteca ZIP sto esser pli pitschna che 2GB.
profile-file-picker-archive-title = Tscherna ina datoteca ZIP (pli pitschna che 2GB)
items-pane-title2 = Tscherna tge importar:
items-pane-directory = Ordinatur:
items-pane-profile-name = Num dal profil:
items-pane-checkbox-accounts = Contos e parameters
items-pane-checkbox-address-books = Cudeschets d'adressas
items-pane-checkbox-calendars = Chalenders
items-pane-checkbox-mail-messages = Messadis dad e-mail
items-pane-override = Eventualas datas existentas u identicas na vegnan betg recuvertas.

## Import from address book file steps

import-from-addr-book-file-description = Tscherna il format da la datoteca che cuntegna tias datas dal cudeschet d'adressas.
addr-book-csv-file = Datoteca separada cun commas u tabulaturs (.csv, .tsv)
addr-book-ldif-file = Datoteca LDIF (.ldif)
addr-book-vcard-file = Datoteca vCard (.vcf, .vcard)
addr-book-sqlite-file = Datoteca da banca da datas SQLite (.sqlite)
addr-book-mab-file = Datoteca da la banca da datas Mork (.mab)
addr-book-file-picker = Tscherna ina datoteca da cudeschet d'adressas
addr-book-csv-field-map-title = Attribuir ils nums dals champs
addr-book-csv-field-map-desc = Tscherna ils champs dal cudeschet d'adressas che correspundan als champs da la funtauna. Champs betg selecziunads na vegnan betg importads.
addr-book-directories-title = Tscherna nua importar las datas tschernidas
addr-book-directories-pane-source = Datoteca da funtauna:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = Crear in nov ordinatur cun il num <strong>"{ $addressBookName }"</strong>
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Importar las datas tschernidas en l'ordinatur «{ $addressBookName }»
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = In nov cudeschet d'adressas cun il num «{ $addressBookName }» vegn a vegnir creà.

## Import from calendar file steps

import-from-calendar-file-desc = Tscherna la datoteca iCalendar (.ics) che ti vuls importar.
calendar-items-title = Tscherna ils elements che duain vegnir importads.
calendar-items-loading = Chargiar ils elements…
calendar-items-filter-input =
    .placeholder = Filtrar ils elements…
calendar-select-all-items = Selecziunar tut
calendar-deselect-all-items = Deselecziunar tut
calendar-target-title = Tscherna nua importar ils elements tschernids.
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = Crear in nov chalender cun il num <strong>«{ $targetCalendar }»</strong>
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
        [one] Importar in element en il chalender «{ $targetCalendar }»
       *[other] Importar { $itemCount } elements en il chalender «{ $targetCalendar }»
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = In nov chalender cun il num «{ $targetCalendar }» vegn creà.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Importaziun… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Exportaziun… { $progressPercent }
progress-pane-finished-desc2 = Cumplet.
error-pane-title = Errur
error-message-zip-file-too-big2 = La datoteca ZIP tschernida surpassa 2GB. L'extira l'emprim ed importescha lura ord l'ordinatur extratg.
error-message-extract-zip-file-failed2 = I n'è betg reussì dad extrair la datoteca ZIP. L'extira per plaschair manualmain ed importescha lura ord l'ordinatur extratg.
error-message-failed = L'import n'è betg reussì nunspetgadamain. Ulteriuras infurmaziuns stattan eventualmain a disposiziun en la consola d'errurs.
error-failed-to-parse-ics-file = Na chattà nagins elements en la datoteca che sa laschan importar.
error-export-failed = L'export n'è nunspetgadamain betg reussì. Ulteriuras infurmaziuns stattan eventualmain a disposiziun en la consola d'errurs.
error-message-no-profile = Na chatta nagin profil.

## <csv-field-map> element

csv-first-row-contains-headers = L'emprima lingia cuntegna ils nums dals champs
csv-source-field = Champ da funtauna
csv-source-first-record = Emprima endataziun
csv-source-second-record = Segunda endataziun
csv-target-field = Champ dal cudeschet d'adressas

## Export tab

export-profile-title = Exportar contos, messadis, cudeschets d'adressas e parameters en ina datoteca ZIP.
export-profile-description = Sche tes profil actual è pli grond che 2GB, ta recumandain nus da far manualmain la copia da segirezza.
export-open-profile-folder = Avrir l'ordinatur dal profil
export-file-picker2 = Exportar en ina datoteca ZIP
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Datas dad importar
summary-pane-start = Lantschar l'import
summary-pane-warning = { -brand-product-name } sto vegnir reavià cura che l'importaziun è cumpletta.
summary-pane-start-over = Reaviar l'utensil dad importaziun

## Footer area

footer-help = Dovras agid?
footer-import-documentation = Documentaziun da l'import
footer-export-documentation = Documentaziun da l'export
footer-support-forum = Forum da support

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Pass da l'import
step-confirm = Confermar
# Variables:
# $number (number) - step number
step-count = { $number }
