# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Glean Hakkında
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a>, Mozilla ürünlerinde kullanılan bir veri toplama kütüphanesidir. Bu sayfa, <a data-l10n-name="fog-debug-doc-link">Glean SDK'de hata ayıklamayı ve loglama durumunu yapılandırmak</a> isteyen geliştiriciler ve test kullanıcıları içindir.
about-glean-warning = Bu arayüzün yanlış kullanılması { -brand-short-name } tarayıcınızın çökmesine neden olabilir.
tag-pings-label = Gönderilen tüm ping'leri bu etiketle etiketle
log-pings-label = Göndermeden önce ping yükü günlüğe kaydedilsin mi?
send-pings-label = Adlandırılmış ping gönder
controls-button-label = Ayarları gönder
controls-button-label-verbose = Ayarları uygula ve ping gönder
