# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-sender-list-name = 发件人
message-header-cc-list-name = 抄送
message-header-bcc-list-name = 密送
message-header-newsgroups-list-name = 新闻组
message-header-tags-list-name = 标签

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = 作者<span data-l10n-name="field-separator">：</span>
message-header-subject-field = 主题<span data-l10n-name="field-separator">：</span>
message-header-date-field = 日期<span data-l10n-name="field-separator">：</span>
message-header-user-agent-field = 用户代理<span data-l10n-name="field-separator">：</span>
message-header-website-field = 网站<span data-l10n-name="field-separator">：</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">：</span>

##

message-header-address-in-address-book-icon2 =
    .alt = 在通讯录中
message-header-address-in-address-book-button =
    .title = 编辑联系人
message-ids-field-show-all = 显示全部
