# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Про Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean SDK</a> — це бібліотека збору даних, що використовується в продуктах Mozilla. Ця сторінка призначена для розробників і тестувальників, яким потрібно <a data-l10n-name="fog-debug-doc-link">налаштувати стан налагодження та журналу в Glean SDK</a>.
about-glean-warning = Неправильне використання цього інтерфейсу може спричинити збій { -brand-short-name }.
tag-pings-label = Позначте всі надіслані пінги за допомогою цього тегу
log-pings-label = Записати до журналу пінг-навантаження перед надсиланням?
send-pings-label = Надіслати іменований пінг
controls-button-label = Затвердити налаштування
controls-button-label-verbose = Застосувати налаштування та відправити ping
