/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

treechildren::-moz-tree-image(providerCol) {
  list-style-image: url(chrome://global/skin/icons/defaultFavicon.svg);
  -moz-context-properties: fill;
  fill: currentColor;
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
}

treechildren::-moz-tree-cell-text(passwordCol) {
  font-family: monospace;
}
