# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Προς
message-header-from-list-name = Από
message-header-sender-list-name = Αποστολέας
message-header-reply-to-list-name = Απάντηση σε
message-header-cc-list-name = Κοιν.
message-header-bcc-list-name = Κρυφή κοιν.
message-header-newsgroups-list-name = Ομάδες συζήτησης
message-header-tags-list-name = Ετικέτες

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Συντάκτης<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Οργανισμός<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Θέμα<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Απάντηση σε<span data-l10n-name="field-separator">:</span>
message-header-date-field = Ημερομηνία<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Πρόγραμμα πελάτη<span data-l10n-name="field-separator">:</span>
message-header-references-field = Αναφορές<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = Αναγνωριστικό μηνύματος<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Σε απάντηση του<span data-l10n-name="field-separator">:</span>
message-header-website-field = Ιστότοπος<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = Στο ευρετήριο
message-header-address-not-in-address-book-icon2 =
    .alt = Όχι στο ευρετήριο
message-header-address-not-in-address-book-button =
    .title = Αποθήκευση της διεύθυνσης στο Βιβλίο Διευθύνσεων
message-header-address-in-address-book-button =
    .title = Επεξεργασία επαφής
message-header-field-show-more = Περισσότερα
    .title = Εμφάνιση όλων των παραληπτών
message-ids-field-show-all = Εμφάνιση όλων
