# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = { -brand-full-name } uygulamasına hoş geldiniz
account-settings = Hesap Ayarları
#   $accounts (Number) - the number of configured accounts
setup-title = Nelerin ayarlanacağını seçin
about-title = { -brand-full-name } hakkında
resources-title = Kaynaklar
release-notes =
    .title = { -brand-full-name } hakkında
email-label = E-posta
    .aria-label = Mevcut e-posta hesabınıza bağlanın
email-description = { -brand-short-name }, e-postalarınızı uygulama içinden rahat ve verimli bir şekilde okumak için mevcut e-posta hesabınıza bağlanmanıza olanak tanır.
calendar-label = Takvim
    .aria-label = Yeni takvim oluştur
calendar-description = { -brand-short-name }, etkinlikleri yönetmenize ve organize olmanıza olanak tanır. Uzak bir takvime bağlanarak tüm etkinliklerinizi tüm cihazlarınızda senkronize edebilirsiniz.
chat-label = Sohbet
    .aria-label = Sohbet hesabınıza bağlanın
chat-description = { -brand-short-name }, birçok anlık mesajlaşma hesabına bağlanmanıza olanak tanır.
filelink-label = Filelink
    .aria-label = Filelink’i kur
filelink-description = { -brand-short-name }, büyük ekleri kolayca göndermek için kullanışlı bir filelink bulut hesabı oluşturmanızı sağlar.
addressbook-label = Adres defteri
    .aria-label = Yeni adres defteri oluştur
addressbook-description = { -brand-short-name }, tüm kişilerinizi bir adres defterinde düzenlemenizi sağlar. Ayrıca tüm kişilerinizi senkronize tutmak için uzaktaki bir adres defterine de bağlanabilirsiniz.
feeds-label = Beslemeler
    .aria-label = Beslemelere bağlan
feeds-description = { -brand-short-name }, her yerden haber ve güncelleme almak için RSS/Atom beslemelerine bağlanmanıza olanak tanır.
newsgroups-label = Haber grupları
    .aria-label = Haber grubuna bağlanın
newsgroups-description = { -brand-short-name } istediğiniz tüm haber gruplarına bağlanmanızı sağlar.
import-title = Başka bir programdan içe aktar
import-paragraph2 = { -brand-short-name }, diğer e-posta programlarındaki ve sık kullanılan adres defteri biçimlerindeki posta iletilerini, adres defteri kayıtlarını, besleme aboneliklerini, ayarları ve/veya süzgeçleri içe aktarmanıza olanak tanır.
import-label = İçe aktar
    .aria-label = Diğer programlardan verileri içe aktarma
about-paragraph = Thunderbird, hem iş hem de kişisel amaçlı kullanım için ücretsiz, açık kaynaklı ve her platformda çalışan lider e-posta ve takvim istemcisidir. Thunderbird’ün güvenli kalmasını ve daha da gelişmesini istiyoruz. Bağış; geliştiricileri işe almamızı, altyapı maliyetlerimizi karşılamamızı ve iyileştirmelere devam edebilmemizi sağlayacaktır.
about-paragraph-consider-donation = <b>Thunderbird, kullanıcılarının desteğiyle finanse ediliyor. Thunderbird'ü seviyorsanız ve imkânınız varsa lütfen bağış yapın.</b> Thunderbird'ün gelişimini sürdürebilmemiz için <a data-l10n-name="donation-link">bağışlarınız</a> oldukça önemli.
explore-link = Özellikleri keşfedin
support-link = Destek
involved-link = Bize katılın
developer-link = Geliştirici belgeleri
read = İletileri oku
compose = Yeni ileti yaz
search = İletilerde ara
filter = İleti süzgeçlerini yönet
nntp-subscription = Haber grubu aboneliklerini yönet
rss-subscription = Besleme aboneliklerini yönet
e2e = Uçtan uca şifreleme
