# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Dobijte novu adresu e-pošte od pružatelja usluge
provisioner-searching-icon =
    .alt = Pretraživanje…
account-provisioner-title = Stvorite novu adresu e-pošte
account-provisioner-description = Koristite naše pouzdane partnere kako biste dobili novu privatnu i sigurnu adresu e-pošte.
account-provisioner-start-help = Korišteni pojmovi pretraživanja šalju se prema { -vendor-short-name } (<a data-l10n-name="mozilla-privacy-link">politika privatnosti</a>) i pružateljima usluge e-pošte <strong>mailfence.com</strong> (<a data-l10n-name="mailfence-privacy-link">politika privatnosti</a>, <a data-l10n-name="mailfence-tou-link">uvjeti korištenja</a>) i <strong>gandi.net</strong> (<a data-l10n-name="gandi-privacy-link">politika privatnosti</a>, <a data-l10n-name="gandi-tou-link">uvjeti korištenja</a>) kako bi pronašli dostupne adrese e-pošte.
account-provisioner-mail-account-title = Kupite novu adresu e-pošte
account-provisioner-mail-account-description = Thunderbird se udružio s <a data-l10n-name="mailfence-home-link">Mailfence</a> kako bi vam ponudio novu privatnu i sigurnu adresu e-pošte. Vjerujemo da svi trebaju imati sigurnu e-poštu.
account-provisioner-domain-title = Kupite svoju adresu e-pošte i domenu
account-provisioner-domain-description = Thunderbird se udružio s <a data-l10n-name="gandi-home-link">Gandi</a> kako bi vam ponudio prilagođenu domenu. Ovo vam omogućuje koristiti bilo koju adresu na toj domeni.

## Forms

account-provisioner-mail-input =
    .placeholder = Vaše ime, nadimak ili drugi pojam pretraživanja
account-provisioner-domain-input =
    .placeholder = Vaše ime, nadimak ili drugi pojam pretraživanja
account-provisioner-search-button = Traži
account-provisioner-button-cancel = Odustani
account-provisioner-button-existing = Koristi postojeći račun e-pošte
account-provisioner-button-back = Idi natrag

## Notifications

account-provisioner-fetching-provisioners = Dohvaćanje pružatelja usluga…
account-provisioner-connection-issues = Nije moguće ostvariti komunikaciju s poslužiteljem za prijavu. Provjerite svoju vezu.
account-provisioner-searching-email = Traženje dostupnih računa e-pošte…
account-provisioner-searching-domain = Traženje dostupnih domena…
account-provisioner-searching-error = Nisu pronađene adrese za predložiti. Pokušajte izmijeniti pojmove za pretraživanje.

## Illustrations

account-provisioner-step1-image =
    .title = Odaberite koji račun želite stvoriti

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] { $count } dostupna adresa pronađena za:
        [few] { $count } dostupne adrese pronađene za:
       *[other] { $count } dostupnih adresa pronađeno za:
    }
account-provisioner-mail-results-caption = Možete pokušati tražiti prema nadimku ili nekom drugom pojmu kako biste našli više adresa e-pošte.
account-provisioner-domain-results-caption = Možete pokušati tražiti prema nadimku ili nekom drugom pojmu kako biste našli više domena.
account-provisioner-free-account = Besplatno
account-provision-price-per-year = { $price } godišnje
account-provisioner-all-results-button = Prikaži sve rezultate
account-provisioner-open-in-tab-img =
    .title = Otvara se u novoj kartici
