# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Dobro došli u { -brand-full-name }
account-settings = Postavke računa

#   $accounts (Number) - the number of configured accounts
setup-title = Odaberi što želiš postaviti
about-title = O { -brand-full-name }u
resources-title = Resursi

release-notes =
    .title = O { -brand-full-name }u

email-label = E-mail
    .aria-label = Poveži se na postojeći e-mail račun
email-description = { -brand-short-name } omogućuje povezivanje s postojećim e-mail računom za jednostavno i učinkovito čitanje e-pošte u aplikaciji.

calendar-label = Kalendar
    .aria-label = Stvori novi kalendar
calendar-description = { -brand-short-name } omogućuje rukovanje događajima za dobru organiziranost. Ako se povežeš s udaljenim kalendarom, svi će se događaji sinkronizirati na svim tvojim uređajima.

chat-label = Chat
    .aria-label = Poveži se na svoj chat račun
chat-description = { -brand-short-name } omogućuje povezivanje s više računa za trenutnu razmjenu poruka, nudeći podršku za razne platforme.

filelink-label = Filelink
    .aria-label = Postavi Filelink
filelink-description = { -brand-short-name } omogućuje postavljanje prikladnog Filelink računa u oblaku za jednostavno slanje velikih privitaka.

addressbook-label = Adresar
    .aria-label = Stvori novi adresar
addressbook-description = { -brand-short-name } omogućuje organiziranje svih kontakata u adresaru. Možeš se povezati i s udaljenim adresarom za sinkroniziranje svih tvojih kontakata.

feeds-label = Feedovi
    .aria-label = Poveži se na feedove
feeds-description = { -brand-short-name } omogućuje povezivanje s RSS/Atom feedovima za primanje vijesti i aktualiziranja.

newsgroups-label = Interesne grupe
    .aria-label = Poveži se na interesne grupe
newsgroups-description = { -brand-short-name } omogućuje povezivanje sa svim mogućim interesnim grupama.

import-title = Uvezi iz jednog drugog programa
import-paragraph2 = { -brand-short-name } omogućuje uvoz poruka e-pošte, kontakata adresara, pretplata na feedove, postavki i/ili filtera iz drugih programa za e-poštu kao i uobičajenih formata adresara.

import-label = Uvoz
    .aria-label = Uvezi podatke iz drugih programa

about-paragraph = Thunderbird je vodeći program za e-poštu i kalendare, otvorenog koda, dostupan na više platformi, besplatan za poslovno i privatno korištenje. Želimo da ostane siguran i postane još bolji. Donacija će nam omogućiti da zaposlimo programere, platimo za infrastrukturu i nastavimo poboljšavati Thunderbird.

about-paragraph-consider-donation = <b>Thunderbird financiraju korisnici poput tebe! Ako ti se sviđa Thunderbird, molimo te da doniraš.</b>Najbolji način na koji možeš osigurati da Thunderbird ostane dostupan je putem <a data-l10n-name="donation-link"> donacije</a>.

explore-link = Istraži funkcije
support-link = Podrška
involved-link = Uključi se
developer-link = Dokumentacija programera

read = Pročitane poruke
compose = Piši novu poruku
search = Pretraži poruke
filter = Upravljanje filterima za poruke
nntp-subscription = Upravljanje pretplatama na interesne grupe
rss-subscription = Upravljanje pretplatama na kanale
e2e = Potpuno šifriranje od pošiljatelja do primatelja
