# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = A
message-header-from-list-name = Da
message-header-sender-list-name = Speditur
message-header-reply-to-list-name = Respunder a
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Gruppas da discussiun
message-header-tags-list-name = Etichettas

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autur<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organisaziun<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Object<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Followup a<span data-l10n-name="field-separator">:</span>
message-header-date-field = Data<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = User agent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Referenzas<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID dal messadi<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Sco resposta a<span data-l10n-name="field-separator">:</span>
message-header-website-field = Website<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = En il cudeschet d'adressas
message-header-address-not-in-address-book-icon2 =
    .alt = Betg en il cudeschet d'adressas
message-header-address-not-in-address-book-button =
    .title = Memorisar questa adressa en il cudeschet d'adressas
message-header-address-in-address-book-button =
    .title = Modifitgar il contact
message-header-field-show-more = Dapli
    .title = Mussar tut ils destinaturs
message-ids-field-show-all = Mussar tut
