/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file is imported as a UA stylesheet because the default tooltip is
 * built as native anonymous content.
 */

@import url("chrome://messenger/skin/shared/tooltip.css");

tooltip {
  padding: 3px 6px;
}

tooltip:not([position]) {
  margin-top: 18px;
}
