# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


## Header lists

message-header-to-list-name = Prima
message-header-from-list-name = Šalje
message-header-sender-list-name = Pošiljatelj
message-header-reply-to-list-name = Odgovori na
message-header-cc-list-name = Cc
message-header-bcc-list-name = Bcc
message-header-newsgroups-list-name = Interesne grupe
message-header-tags-list-name = Oznake

## Other message headers.
## The field-separator is for screen readers to separate the field name from the field value.

message-header-author-field = Autor<span data-l10n-name="field-separator">:</span>
message-header-organization-field = Organizacija<span data-l10n-name="field-separator">:</span>
message-header-subject-field = Naslov<span data-l10n-name="field-separator">:</span>
message-header-followup-to-field = Nastavak na<span data-l10n-name="field-separator">:</span>
message-header-date-field = Datum<span data-l10n-name="field-separator">:</span>
message-header-user-agent-field = Korisnički agent<span data-l10n-name="field-separator">:</span>
message-header-references-field = Reference<span data-l10n-name="field-separator">:</span>
message-header-message-id-field = ID poruke<span data-l10n-name="field-separator">:</span>
message-header-in-reply-to-field = Kao odgovor na<span data-l10n-name="field-separator">:</span>
message-header-website-field = Web stranica<span data-l10n-name="field-separator">:</span>
# An additional email header field that the user has chosen to display. Unlike
# the other headers, the name of this header is not expected to be localised
# because it is generated from the raw field name found in the email header.
#   $fieldName (String) - The field name.
message-header-custom-field = { $fieldName }<span data-l10n-name="field-separator">:</span>

##

message-header-address-in-address-book-icon2 =
    .alt = U adresaru
message-header-address-not-in-address-book-icon2 =
    .alt = Nije u adresaru
message-header-address-not-in-address-book-button =
    .title = Spremi ovu adresu u adresar
message-header-address-in-address-book-button =
    .title = Uredi kontakt
message-header-field-show-more = Više
    .title = Prikaži sve primatelje
message-ids-field-show-all = Prikaži sve
