# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-provisioner-tab-title = Lortu posta elektroniko helbide berria zerbitzu hornitzaile batengandik
provisioner-searching-icon =
    .alt = Bilatzen…
account-provisioner-title = Sortu posta elektroniko berri bat
account-provisioner-description = Erabili gure bazkide fidagarriak posta elektroniko helbide seguru eta pribatua lortzeko.
account-provisioner-start-help = Bilaketa terminoak posta elektroniko erabilgarriak bilatzeko hauei bidaltzen dira: { -vendor-short-name }  (<a data-l10n-name="mozilla-privacy-link"> Pribatutasun-gidalerroak </a>) eta posta elektroniko hirugarren hornitzaileei <strong>mailfence.com</strong>(<a data-l10n-name="mailfence-privacy-link">Pribatutasun-gidalerroak</a>,<a data-l10n-name="mailfence-tou-link">erabiltzeko baldintzak</a>) eta <strong>gandi.net</strong>(<a data-l10n-name="gandi-privacy-link">Pribatutasun-gidalerroak</a>,<a data-l10n-name="gandi-tou-link">erabiltzeko baldintzak</a>)
account-provisioner-mail-account-title = Erosi posta elektroniko berri bat
account-provisioner-mail-account-description = Thunderbird <a data-l10n-name="mailfence-home-link">Mailfence</a>kin bazkidetu da zuri posta elektroniko pribatu eta segurua eskaintzeko. Edonork posta elektroniko seguru bat behar duela sinisten dugu.
account-provisioner-domain-title = Erosi posta helbidea eta domeinua zuretzat
account-provisioner-domain-description = Thunderbird  <a data-l10n-name="gandi-home-link">Gandi</a>rekin bazkidetu da zuri domeinu pertsonalizatua eskaintzeko. Honek domeinu horretan edozein helbide erabiltzea ahalbidetuko dizu.

## Forms

account-provisioner-mail-input =
    .placeholder = Zure izena, goitizena edo beste bilaketa termino bat
account-provisioner-domain-input =
    .placeholder = Zure izena, goitizena edo beste bilaketa termino bat
account-provisioner-search-button = Bilatu
account-provisioner-button-cancel = Utzi
account-provisioner-button-existing = Ezarri baduzun posta elektroniko kontu bat
account-provisioner-button-back = Joan atzera

## Notifications

account-provisioner-fetching-provisioners = Hornitzailea berreskuratzen...
account-provisioner-connection-issues = Ezin izan dugu komunikazioa ezarri izena emateko zerbitzariarekin. Egiaztatu zure konexioa.
account-provisioner-searching-email = Posta elektroniko erabilgarriak bilatzen...
account-provisioner-searching-domain = Domeinu erabilgarriak bilatzen...
account-provisioner-searching-error = Ez dira helbide erabilgarriak aurkitu eskaintzeko. Saiatu bilaketa terminoak aldatuz.

## Illustrations

account-provisioner-step1-image =
    .title = Aukeratu zein kontu sortu

## Search results

# Variables:
# $count (Number) - The number of domains found during search.
account-provisioner-results-title =
    { $count ->
        [one] Helbide erabilgarri bat aurkitu da:
       *[other] { $count } helbide erabilgarri aurkitu dira:
    }
account-provisioner-mail-results-caption = Goitizenak edo bestelako terminoak ere bilatzen saia zaitezke helbide elektroniko gehiago aurkitzeko.
account-provisioner-domain-results-caption = Goitizenak edo bestelako terminoak ere bilatzen saia zaitezke domeinu gehiago aurkitzeko.
account-provisioner-free-account = Doan
account-provision-price-per-year = { $price } urtean
account-provisioner-all-results-button = Erakutsi emaitza guztiak
account-provisioner-open-in-tab-img =
    .title = Ireki fitxa berri batean
