# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

account-central-title = Velkomen til { -brand-full-name }
account-settings = Kontoinnstillingar
#   $accounts (Number) - the number of configured accounts
setup-title =
    { $accounts ->
        [0] Vel kva du vil konfigurere
       *[other] Konfigurer ein annan konto
    }
about-title = Om { -brand-full-name }
resources-title = Resursar
release-notes =
    .title = Om { -brand-full-name }
email-label = E-post
    .aria-label = Kople til den eksisterande e-postkontoen din
email-description = { -brand-short-name } lar deg kople til den eksisterande e-postkontoen din, for å lese e-postane dine enkelt og effektivt frå applikasjonen.
calendar-label = Kalender
    .aria-label = Lag ein ny kalender
calendar-description = { -brand-short-name } lar deg handsame hendingar og held deg organisert. Dersom du koplar til ein ekstern kalender, vert alle hendingane dine synkronisert på alle einingane dine.
chat-label = Direktemelding
    .aria-label = Kople til direktemeldingskontoen din
chat-description = { -brand-short-name } lar deg kople til fleire direktemeldingskontoar, og tilbyr støtte for ulike plattformer.
filelink-label = Filelink
    .aria-label = Konfigurer Filelink
filelink-description = { -brand-short-name } lar deg sette opp ein praktisk filelink-sky-konto for enkelt å sende store vedlegg.
addressbook-label = Adressebok
    .aria-label = Lag ny adressebok
addressbook-description = { -brand-short-name } lar deg organisere alle kontaktane dine i ei adressebok. Du kan også kople til ei ekstern adressebok for å synkronisere alle kontaktane dine.
feeds-label = Informasjonskanal
    .aria-label = Kople til informasjonskanalar
feeds-description = { -brand-short-name } lar deg kople til RSS/Atom-informasjonskanalar for å få nyheiter og oppdateringar frå heile verda.
newsgroups-label = Temagrupper
    .aria-label = Kopla til ei temagruppe
newsgroups-description = { -brand-short-name } lar deg kople til alle temagruppene du ønskjer.
import-title = Importer frå eit anna program
import-label = Importer
    .aria-label = Importer data frå andre program
about-paragraph = Thunderbird er den leiande plattformuavhengige e-post- og kalenderklienten basert på open kjeldekode, gratis for bedrifter og personleg bruk. Vi ønskjer at han skal halde seg sikker og verte endå betre. Ein donasjon vil tillate oss å tilsetje utviklarar, betale for infrastruktur, og å fortsetje med forbetringane.
about-paragraph-consider-donation = <b>Thunderbird er finansiert av brukarar som deg! Om du likar Thunderbird, vurder å donere.</b> Den beste måten å sikre at Thunderbird framleis er tilgjengeleg er å <a data-l10n-name="donation-link">donere</a>.
explore-link = Utforsk funksjonar
support-link = Brukarstøtte
involved-link = Engasjer deg
developer-link = Utviklardokumentasjon
read = Les meldingar
compose = Skriv ny melding
search = Søk i meldingar
filter = Handsame meldingsfilter
nntp-subscription = Handter medlemskap i temagrupper
rss-subscription = Handter informasjonskanal-abonnement
e2e = Ende-til-ende-kryptering
