# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Wó Glean
about-glean-description = <a data-l10n-name="glean-sdk-doc-link">Glean-SDK</a> jo biblioteka zběranja datow, kótaraž se w produktach Mozilla wužywa. Toś ten bok jo za wuwijarje a testowarje, kótarež muse <a data-l10n-name="fog-debug-doc-link">status za pytanje zmólkow a protokolěrowanje w Glean-SDK konfigurěrowaś</a>.
about-glean-warning = Znjewužywanje toś togo interfejsa móžo wowalenje { -brand-short-name } zawinowaś.
tag-pings-label = Wšykne pósłane pingi z toś tym wobznamjenim markěrowaś
log-pings-label = Pingowe wužywańske daty do słanja protokolěrowaś?
send-pings-label = Pomjenjony ping pósłaś
controls-button-label = Nastajenja wótpósłaś
controls-button-label-verbose = Nastajenja nałožyś a ping wótpósłaś
