/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.menu-iconic-icon {
  opacity: 0.85;
  -moz-context-properties: fill;
  fill: currentColor;
}

/* Hide the twisty gap. */
treechildren::-moz-tree-twisty {
  width: 0;
  padding-inline: 2px;
}

treechildren::-moz-tree-image(GeneratedName) {
  margin-inline-end: 2px;
  list-style-image: url("chrome://messenger/skin/icons/contact.svg");
  opacity: 0.85;
}

treechildren::-moz-tree-image(GeneratedName, MailList) {
  list-style-image: url("chrome://messenger/skin/icons/ablist.svg");
}

