/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --appmenu-button-margin: 0 4px;
  --appmenu-button-padding: 4px;
}

/* UI Density customization */

:root[uidensity="compact"] {
  --appmenu-button-margin: 0 3px;
  --appmenu-button-padding: 3px;
}

:root[uidensity="compact"] menupopup {
  --arrowpanel-padding: 3px 0;
}

:root[uidensity="touch"] {
  --appmenu-button-padding: 9px;
}

menupopup {
  /* Complement the :is(menu, menuitem) margin. */
  --arrowpanel-padding: 4px 0;
  --panel-background: var(--arrowpanel-background);
  --panel-color: var(--arrowpanel-color);
  --panel-border-color: var(--arrowpanel-border-color);
  --panel-border-radius: var(--arrowpanel-border-radius);
  --panel-padding: var(--arrowpanel-padding);
  --menu-color: var(--arrowpanel-color);
  --menu-border-color: var(--arrowpanel-border-color);
  --menu-background-color: var(--arrowpanel-background);
  font: menu;
  font-size: inherit;
}

menubar:not(:-moz-lwtheme) > menu menupopup {
  --panel-background: Menu;
  --panel-color: MenuText;
}

menupopup > menuitem {
  appearance: none !important;
}

menupopup > :is(menu, menuitem) > .menu-text {
  appearance: none;
  margin-inline-start: 0 !important;
}

menupopup > :is(menu, menuitem) {
  appearance: none;
  margin: var(--appmenu-button-margin);
  min-height: 24px;
  padding-inline: 8px;
  padding-block: var(--appmenu-button-padding);
  border-radius: 3px;
  background-color: transparent;
}

menupopup > :is(menu, menuitem):focus {
  outline: 0;
}

menupopup > :is(menu, menuitem)[disabled="true"],
menupopup > :is(menu, menuitem)[disabled="true"]:hover,
menupopup > :is(menu, menuitem)[checked="true"][disabled="true"],
menupopup > :is(menu, menuitem)[checked="true"][disabled="true"]:hover {
  color: var(--panel-description-color);
  background-color: transparent;
}

menu > .menu-right {
  display: none;
}

menupopup > menu::after {
  -moz-context-properties: stroke, fill-opacity;
  content: var(--icon-nav-right-sm);
  stroke: currentColor;
  float: inline-end;
}

menupopup > menu:-moz-locale-dir(rtl)::after {
  content: var(--icon-nav-left-sm);
}

menupopup > menu::after {
  margin-inline-start: 10px;
}

menupopup > :is(menu, menuitem)[checked="true"] {
  list-style-image: var(--icon-check);
  -moz-context-properties: stroke;
  stroke: currentColor;
  color: inherit;
}

menupopup > :is(menu, menuitem):not([disabled],:active)[_moz-menuactive] {
  color: inherit;
  background-color: var(--arrowpanel-dimmed);
}

menupopup > :is(menu, menuitem):not([disabled])[_moz-menuactive]:active {
  color: inherit;
  background-color: var(--arrowpanel-dimmed-further);
  box-shadow: 0 1px 0 hsla(210, 4%, 10%, 0.03) inset;
}

menubar:not(:-moz-lwtheme) > menu menupopup > :is(menu, menuitem):not([disabled])[_moz-menuactive] {
  color: -moz-MenuHoverText;
  background-color: -moz-MenuHover;
}

@media (-moz-platform: windows-win10) and (-moz-windows-default-theme){
  menubar:not(:-moz-lwtheme) > menu menupopup > :is(menu, menuitem):not([disabled])[_moz-menuactive] {
    color: inherit;
    background-color: var(--arrowpanel-dimmed-further);
  }
}

menupopup > menuseparator {
  appearance: none !important;
  min-height: 0;
  border-top: 1px solid var(--panel-separator-color);
  border-bottom: none;
  margin: 4px 8px;
  padding: 0;
}

#ContentSelectDropdown > menupopup {
  /* !important to override inline styles */
  --content-select-background-image: none !important;
  --panel-color: var(--arrowpanel-color) !important;
}

#ContentSelectDropdown > menupopup[customoptionstyling="true"]::part(arrowscrollbox) {
  /* !important to override inline styles */
  background-image: none !important;
  background-color: var(--arrowpanel-background) !important;
}

#ContentSelectDropdown .ContentSelectDropdown-item-0:not([_moz-menuactive="true"]) {
  background-color: var(--arrowpanel-background) !important;
  color: var(--arrowpanel-color) !important;
}
