/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#messengerContainer {
  display: -moz-box;
  -moz-box-flex: 1;
}

#messengerBody {
  -moz-box-flex: 1;
}

:root:not([tabsintitlebar]) .titlebar-buttonbox-container {
  visibility: collapse;
}

#tabmail:-moz-lwtheme {
  text-shadow: none;
}

#messengerBox {
  color: -moz-DialogText;
}

#messagepaneboxwrapper {
  overflow: hidden;
}

#folderUnreadCol,
#folderTotalCol,
#folderSizeCol {
  text-align: right;
}

#folderUnreadCol:-moz-locale-dir(rtl),
#folderTotalCol:-moz-locale-dir(rtl),
#folderSizeCol:-moz-locale-dir(rtl) {
  text-align: left;
}

#folderNameCol [sortDirection="ascending"],
#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}

/* ::::: thread decoration ::::: */

treechildren::-moz-tree-cell-text(read) {
  font-weight: normal;
}

treechildren::-moz-tree-cell-text(unread) {
  font-weight: bold;
}

:root[lwt-tree-brighttext] treechildren::-moz-tree-cell-text(untagged, unread) {
  color: #fff !important;
}

/* on a collapsed thread, if the top level message is read, but the thread has
 * unread children, underline the text.  4.x mac did this, very slick
 */
treechildren::-moz-tree-cell-text(container, closed, hasUnread, read) {
  text-decoration: underline;
}

/* ..... grouped by sort header rows ..... */

treechildren::-moz-tree-row(dummy) {
  background-color: var(--row-grouped-header-bg-color) !important;
  border-color: transparent !important;
  padding-inline-start: 2px;
  margin-bottom: 1px;
}

treechildren::-moz-tree-row(dummy, selected, focus) {
  background-color: var(--row-grouped-header-bg-color-selected) !important;
}

treechildren::-moz-tree-cell-text(dummy) {
  font-weight: bold;
}

:root[lwt-tree] treechildren::-moz-tree-cell-text(dummy, selected) {
  color: var(--sidebar-highlight-text-color);
}

/* ..... message pane adjustments ..... */

/* We need to hide overflow in messagepanebox, so that resizing doesn't spill
   header content over the statusbar. */

#messagepanebox {
  overflow: hidden;
}

#multimessage {
  background-color: Field;
}

@media (prefers-color-scheme: dark) {
  #messagepanewrapper {
    background-color: #2a2a2e;
  }
}

/* splitter adjustments */

#folderpane_splitter,
#threadpane-splitter:not([orient="vertical"]) {
  appearance: none;
  border-width: 0;
  min-width: 0;
  width: 5px;
  background-color: transparent;
  margin-top: 0;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#folderpane_splitter {
  border-inline-start: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-end: -4px;
}

#folderpane_splitter[state="collapsed"]:hover {
  border-inline-start: 4px solid SelectedItem;
}

#threadpane-splitter:not([orient="vertical"]) {
  border-inline-end: 1px solid var(--splitter-color);
  /* make only the splitter border visible */
  margin-inline-start: -4px;
}

#threadpane-splitter[state="collapsed"]:not([orient="vertical"]):hover {
  border-inline-end: 4px solid SelectedItem;
}

#threadpane-splitter {
  appearance: none;
  border-width: 0;
  border-bottom: 1px solid var(--splitter-color);
  min-height: 0;
  height: 5px;
  background-color: transparent;
  margin-top: -5px;
  position: relative;
  z-index: 10;
  transition: border-width .3s ease-in;
}

#threadpane-splitter[state="collapsed"] {
  transition: border-color .3s;
}

#threadpane-splitter[state="collapsed"]:hover {
  border-bottom: 4px solid SelectedItem;
}

/* Quick-Filter-Bar */
:root[lwt-tree] #quick-filter-bar:-moz-lwtheme {
  background-color: var(--toolbar-bgcolor);
  color: var(--lwt-text-color);
}

/* virtual folder list dialog */
#virtualFolderList:not(:-moz-lwtheme) {
  background-color: -moz-dialog;
}

#folderPickerTree > treechildren::-moz-tree-image(folderNameCol) {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: color-mix(in srgb, var(--default) 20%, transparent);
  stroke: var(--default);
}

#folderPickerTree > treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  fill: color-mix(in srgb, var(--primary) 20%, transparent);
  stroke: var(--primary);
}

#folderPickerTree > treechildren::-moz-tree-image(selectedColumn) {
  width: 14px;
  height: 14px;
  list-style-image: url("chrome://messenger/skin/icons/checkbox.svg");
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0;
  stroke-opacity: 0;
}

#folderPickerTree > treechildren::-moz-tree-image(selectedColumn, selected-true) {
  fill-opacity: 1;
}

#folderPickerTree > treechildren::-moz-tree-image(selectedColumn, selected, focus) {
  fill: var(--select-focus-text-color);
  stroke: var(--select-focus-text-color);
}

/* Global notification popup */

#notification-popup {
  --panel-background: var(--arrowpanel-background);
  --panel-color: var(--arrowpanel-color);
  --panel-border-color: var(--arrowpanel-border-color);
  --panel-border-radius: var(--arrowpanel-border-radius);
  --panel-padding: var(--arrowpanel-padding);
  margin-block: 0;
}

#notification-popup::part(content) {
  padding: 0;
  overflow: hidden; /* Don't let panel content overflow the border */
}
