/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== msgSelectOffline.css =================================================
  == Styles for the Offline Use dialog.
  ======================================================================= */

@import url("chrome://messenger/skin/messenger.css");
@import url("chrome://messenger/skin/folderPane.css");

treechildren::-moz-tree-image(folderNameCol) {
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: color-mix(in srgb, var(--default) 20%, transparent);
  stroke: var(--default);
}

treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  fill: color-mix(in srgb, var(--primary) 20%, transparent);
  stroke: var(--primary);
}

treechildren::-moz-tree-cell-text(folderNameCol, noSelect-true) {
  opacity: 0.6;
  font-style: italic;
}

/* ::::: Download Icons ::::: */

treechildren::-moz-tree-image(syncCol) {
  width: 14px;
  height: 14px;
  list-style-image: url("chrome://messenger/skin/icons/checkbox.svg");
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity;
  fill: currentColor;
  stroke: currentColor;
  fill-opacity: 0;
  stroke-opacity: 0;
}

treechildren::-moz-tree-image(syncCol, synchronize-true) {
  fill-opacity: 1;
}

treechildren::-moz-tree-image(selectedColumn, selected, focus) {
  fill: var(--select-focus-text-color);
  stroke: var(--select-focus-text-color);
}

treechildren::-moz-tree-image(syncCol, isServer-true) {
  list-style-image: none;
}

#folderNameCol [sortDirection="ascending"] {
  list-style-image: none;
}

#folderNameCol [sortDirection="descending"] {
  list-style-image: none;
}
