/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --menu-panel-width: 22.35em;
  --wide-menu-panel-width: 29em;
  --panel-palette-icon-size: 16px;
  --panel-separator-margin: 4px 8px;

  /* XXX This is the ugliest bit of code I think I've ever written for Mozilla.
  Basically, the [extra 0.1px in the 1.1px] is there to avoid CSS rounding errors
  causing buttons to wrap. For gory details, refer to
  https://bugzilla.mozilla.org/show_bug.cgi?id=963365#c11 */
  --menu-panel-button-width: calc(--menu-panel-width / 3 - 1.1px);
  --arrowpanel-menuitem-border-radius: 3px;
  --appmenu-button-margin: 0 8px;
  --appmenu-button-padding: 6px;
  --appmenu-warning-background-color: #ffefbf;
  --appmenu-warning-background-color-hover: #ffe8a2;
  --appmenu-warning-background-color-active: #ffe38f;
  --appmenu-warning-color: black;
  --appmenu-warning-border-color: hsl(45, 100%, 77%);
}

.cui-widget-panel {
  /* Complement the .subviewbutton margin. */
  --arrowpanel-padding: 8px 0;
}

/* UI Density customization */

:root:not([uidensity]) menupopup.cui-widget-panel {
  --arrowpanel-padding: 4px 0;
  --appmenu-button-padding: 4px;
  --appmenu-button-margin: 0 4px;
}

:root[uidensity="compact"] panel.cui-widget-panel {
  --arrowpanel-padding: 4px 0;
  --appmenu-button-margin: 0 4px;
  --appmenu-button-padding: 3px;
}

:root[uidensity="compact"] menupopup.cui-widget-panel {
  --arrowpanel-padding: 3px 0;
  --appmenu-button-margin: 0 3px;
  --appmenu-button-padding: 3px;
}

:root[uidensity="touch"] {
  --appmenu-button-padding: 9px;
}

:root[uidensity="touch"] menupopup.cui-widget-panel {
  --arrowpanel-padding: 4px 0;
  --appmenu-button-margin: 0 4px;
}

:root[lwt-popup-brighttext] {
  --appmenu-warning-background-color: hsla(55, 100%, 50%, .1);
  --appmenu-warning-background-color-hover: hsla(55, 100%, 50%, .2);
  --appmenu-warning-background-color-active: hsla(55, 100%, 50%, .3);
  --appmenu-warning-color: #f9f9fa;
  --appmenu-warning-border-color: hsla(55, 100%, 50%, .3);
}

panelview:not([visible]) {
  visibility: collapse;
}

.cui-widget-panel,
#widget-overflow {
  font: menu;
  font-size: inherit;
}

panelview {
  -moz-box-orient: vertical;
  -moz-box-flex: 1;
  background: var(--arrowpanel-background);
  padding: 0;
}

/* Prevent a scrollbar from appearing while the animation for transitioning from
   one view to another runs, which would otherwise happen if the new view has
   more height than the old one because that would mean that during the
   animation the height of the multiview will be too short for the new view. */
panelmultiview[transitioning] > .panel-viewcontainer > .panel-viewstack > panelview > .panel-subview-body {
  overflow-y: hidden;
}

/* This section is to anchor all the drop down panels at the same height, shift the
  panel`s top margin according to its positioning and the uidensity of the window. */
#widget-overflow,
#appMenu-popup {
  margin-top: -4px;
}

#appMenu-popup {
  margin-inline-start: 0;
}

.panel-subview-body {
  overflow-y: auto;
  overflow-x: hidden;
  -moz-box-flex: 1;
  padding: var(--arrowpanel-padding);
}

.panel-view-body-unscrollable {
  overflow: hidden;
  -moz-box-flex: 1;
}

.subviewbutton.panel-subview-footer {
  box-sizing: border-box;
  min-height: 41px;
}

.cui-widget-panelview menuitem.subviewbutton.panel-subview-footer {
  margin: 4px 0 0;
}

.cui-widget-panelview .subviewbutton.panel-subview-footer > .menu-text {
  -moz-box-flex: 1;
}

#wrapper-edit-controls:is([place="palette"],[place="menu-panel"]) > #edit-controls {
  margin-inline-start: 0;
}

#appmenu-edit-button {
  margin-inline: 0 3px;
  padding-inline: 7px;
}

#appmenu-edit-button::after {
  margin-inline-start: 0;
}

panelview[id^=PanelUI-webext-] {
  overflow: hidden;
}

panelview:not([mainview]) .toolbarbutton-text,
.cui-widget-panel .toolbarbutton-text,
#overflowMenu-customize-button > .toolbarbutton-text {
  text-align: start;
  display: -moz-box;
}

#appMenu-popup panelview,
#customizationui-widget-multiview panelview:not([extension]) {
  min-width: var(--menu-panel-width);
  max-width: 35em;
}

#customizationui-widget-multiview #appMenu-libraryView,
#widget-overflow panelview {
  min-width: var(--wide-menu-panel-width);
  max-width: var(--wide-menu-panel-width);
}

/* Add 2 * 16px extra width for touch mode button padding. */
#appMenu-popup[touchmode] panelview {
  min-width: calc(var(--menu-panel-width) + 32px);
}

.cui-widget-panel.cui-widget-panelWithFooter::part(content) {
  padding-bottom: 0;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton > .toolbarbutton-icon {
  min-width: 0;
  min-height: 0;
  margin: 0;
}

.animate-out {
  animation-name: widget-animate-out;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: var(--animation-easing-function);
}

@keyframes widget-animate-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0 ;
    transform: scale(.5);
  }
}

toolbarpaletteitem[place="menu-panel"] > .toolbarbutton-1 {
  -moz-box-flex: 1;
}

/* Help webextension buttons fit in. */
toolbarpaletteitem[place="palette"] > toolbarbutton[constrain-size="true"] > .toolbarbutton-icon,
toolbarpaletteitem[place="palette"] > toolbarbutton[constrain-size="true"] > .toolbarbutton-badge-stack > .toolbarbutton-icon,
toolbarbutton[constrain-size="true"][cui-areatype="menu-panel"] > .toolbarbutton-icon,
toolbarbutton[constrain-size="true"][cui-areatype="menu-panel"] > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  height: var(--panel-palette-icon-size);
  width: var(--panel-palette-icon-size);
}

#customization-palette .toolbarbutton-1 {
  appearance: none;
  -moz-box-orient: vertical;
  padding: 12px 0 9px;
  margin: 0;
}

/* above we treat the container as the icon for the margins, that is so the
/* badge itself is positioned correctly. Here we make sure that the icon itself
/* has the minimum size we want, but no padding/margin. */
.customization-palette .toolbarbutton-1 > .toolbarbutton-badge-stack > .toolbarbutton-icon {
  width: var(--panel-palette-icon-size);
  height: var(--panel-palette-icon-size);
  min-width: var(--panel-palette-icon-size);
  min-height: var(--panel-palette-icon-size);
  margin: 0;
  padding: 0;
}

#zoom-in-button > .toolbarbutton-text,
#zoom-out-button > .toolbarbutton-text,
#zoom-reset-button > .toolbarbutton-icon {
  display: none;
}

#customization-palette .toolbarbutton-text {
  display: none;
}

menuitem.subviewbutton {
  appearance: none !important;
}

.subviewbutton > .menu-text {
  appearance: none;
  margin-inline-start: 0 !important;
}

.subview-subheader,
panelview .toolbarbutton-1,
.subviewbutton,
menu.subviewbutton,
.widget-overflow-list .toolbarbutton-1 {
  appearance: none;
  margin: var(--appmenu-button-margin);
  min-height: 24px;
  padding-inline: 8px;
  padding-block: var(--appmenu-button-padding);
  border-radius: var(--arrowpanel-menuitem-border-radius);
  background-color: transparent;
}

.subviewbutton:focus {
  outline: 0;
}

.subviewbutton[disabled="true"],
.subviewbutton[disabled="true"]:hover,
.subviewbutton[checked="true"][disabled="true"],
.subviewbutton[checked="true"][disabled="true"]:hover {
  color: var(--panel-description-color);
  background-color: transparent;
}

.subviewbutton > .toolbarbutton-text {
  padding: 0;
  padding-inline-start: 24px; /* This is 16px for the icon + 8px for the padding as defined below. */
}

.addon-banner-item > .toolbarbutton-text,
.subviewbutton-iconic > .toolbarbutton-text,
.subviewbutton[image] > .toolbarbutton-text,
.subviewbutton[targetURI] > .toolbarbutton-text,
.subviewbutton.restoreallitem > .toolbarbutton-text,
.subviewbutton.bookmark-item > .toolbarbutton-text,
.subviewbutton[checked="true"] > .toolbarbutton-text {
  padding-inline-start: 8px; /* See '.subviewbutton-iconic > .toolbarbutton-text' rule above. */
}

.addon-banner-item > .toolbarbutton-icon,
.subviewbutton-iconic > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, stroke, stroke-opacity;
  fill: color-mix(in srgb, currentColor 20%, transparent);
  stroke: currentColor;
}

/* We don't always display: none this item, and if it has forced width (like above)
 * or margin, that impacts the position of the label. Fix:
 */
.subviewbutton > .toolbarbutton-icon {
  margin: 0;
}

.subviewbutton.panel-subview-footer > .menu-text {
  appearance: none;
  padding-inline-start: 0 !important; /* to override menu.css on Windows */
  padding-inline-end: 6px;
  -moz-box-flex: 0;
}

.subviewbutton.panel-subview-footer > .toolbarbutton-text {
  padding-inline-start: 0;
}

.subviewbutton[shortcut]::after {
  content: attr(shortcut);
  float: inline-end;
}

.PanelUI-subView .subviewbutton-nav::after {
  -moz-context-properties: stroke, fill-opacity;
  content: var(--icon-nav-right-sm);
  stroke: currentColor;
  fill-opacity: 0.6;
  float: inline-end;
}

.PanelUI-subView .subviewbutton-nav:-moz-locale-dir(rtl)::after {
  content: var(--icon-nav-left-sm);
}

.subviewbutton[shortcut]::after,
.subviewbutton[shortcut]::after,
.PanelUI-subView .subviewbutton-nav::after {
  margin-inline-start: 10px;
}

.subviewbutton[checked="true"] {
  list-style-image: var(--icon-check);
  -moz-context-properties: stroke;
  stroke: currentColor;
  color: inherit;
}

#appMenu-popup .toolbaritem-combined-buttons {
  -moz-box-align: center;
  -moz-box-orient: horizontal;
  border: 0;
  border-radius: 0;
  margin-inline-end: 6px;
  padding-block: 0;
}

panelmultiview .toolbaritem-combined-buttons > label {
  -moz-box-flex: 1;
  margin: 0;
  padding-inline-start: 4px;
}

panelmultiview .toolbaritem-combined-buttons > spacer.before-label {
  width: 36px; /* 12px toolbarbutton padding + 16px icon + 8px label padding start */
}

panelmultiview .toolbaritem-combined-buttons > spacer.after-label {
  -moz-box-flex: 1;
  width: 20px; /* a little bigger than the width of the scrollbar */
}

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton {
  -moz-box-flex: 0;
  height: auto;
  margin-inline-start: 18px;
  min-width: auto;
  padding-inline: 5px;
  padding-block: var(--appmenu-button-padding);
}

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton-iconic {
  padding-inline: var(--appmenu-button-padding);
}

.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton-iconic > .toolbarbutton-text,
.PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-icon {
  display: none;
}

.toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) > .toolbarbutton-text {
  padding-inline-start: 0;
}

.subview-subheader {
  font-size: inherit;
  font-weight: inherit;
  color: var(--panel-description-color);
}

panelview .toolbarbutton-1 {
  margin-top: 6px;
}

panelview .toolbarbutton-1:not([disabled],[open],:active):is(:hover,:focus-visible),
toolbarbutton.subviewbutton:not([disabled],[open],:active):is(:hover,:focus-visible),
menu.subviewbutton:not([disabled],:active)[_moz-menuactive],
menuitem.subviewbutton:not([disabled],:active)[_moz-menuactive],
.widget-overflow-list .toolbarbutton-1:not([disabled],[open],:active):is(:hover,:focus-visible),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) >
  toolbarbutton:not([disabled],[open],:active):is(:hover,:focus-visible) {
  color: inherit;
  background-color: var(--arrowpanel-dimmed);
}

panelview .toolbarbutton-1:not([disabled]):is([open],:hover:active),
toolbarbutton.subviewbutton:not([disabled]):is([open],:hover:active),
menu.subviewbutton:not([disabled])[_moz-menuactive]:active,
menuitem.subviewbutton:not([disabled])[_moz-menuactive]:active,
.widget-overflow-list .toolbarbutton-1:not([disabled]):is([open],:hover:active),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) >
  toolbarbutton:not([disabled]):is([open],:hover:active) {
  color: inherit;
  background-color: var(--arrowpanel-dimmed-further);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.03) inset;
}

.subviewbutton.panel-subview-footer {
  margin: 0;
  background-color: var(--arrowpanel-dimmed);
  border-top: 1px solid var(--panel-separator-color);
  border-radius: 0;
}

menuitem.panel-subview-footer:not([disabled],:active)[_moz-menuactive],
.subviewbutton.panel-subview-footer:not([disabled],[open],:active):is(:hover,:focus-visible) {
  background-color: var(--arrowpanel-dimmed-further);
}

menuitem.panel-subview-footer:not([disabled])[_moz-menuactive]:active,
.subviewbutton.panel-subview-footer:not([disabled]):is([open],:hover:active) {
  background-color: var(--arrowpanel-dimmed-even-further);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.05) inset;
}

#widget-overflow-mainView > .panel-subview-body > toolbarseparator,
.PanelUI-subView menuseparator,
.PanelUI-subView toolbarseparator,
.cui-widget-panelview menuseparator,
.cui-widget-panel toolbarseparator {
  appearance: none;
  min-height: 0;
  border-top: 1px solid var(--panel-separator-color);
  border-bottom: none;
  margin: var(--panel-separator-margin);
  padding: 0;
}

.PanelUI-subView toolbarseparator[orient="vertical"] {
  height: 24px;
  border-inline-start: 1px solid var(--panel-separator-color);
  border-top: none;
  margin: 0;
  margin-inline: 6px 7px;
}

#search-container[cui-areatype="menu-panel"] {
  padding-block: 6px;
}

toolbarpaletteitem[place="palette"] > #search-container {
  min-width: 7em;
  width: 7em;
  min-height: 37px;
  max-height: 37px;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton {
  border: 0;
  margin: 0;
  -moz-box-flex: 1;
  padding-block: 4px;
  -moz-box-orient: horizontal;
}

/* In customize mode, extend the buttons *only* in the panel, just to make them not look stupid */
toolbarpaletteitem[place="menu-panel"] > .toolbaritem-combined-buttons > toolbarbutton {
  min-width: var(--menu-panel-button-width);
  max-width: var(--menu-panel-button-width);
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > toolbarbutton:not(.toolbarbutton-1)[disabled] {
  opacity: 0.4;
  /* Override toolbarbutton.css which sets the color to GrayText */
  color: inherit;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]) > separator {
  appearance: none;
  -moz-box-align: stretch;
  margin: .5em 0;
  width: 1px;
  height: auto;
  background: var(--panel-separator-color);
  transition-property: margin;
  transition-duration: 10ms;
  transition-timing-function: ease;
}

.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]),[overflowedItem=true]):hover > separator {
  margin: 0;
}

#widget-overflow-mainView .panel-subview-body {
  overflow-y: auto;
  overflow-x: hidden;
}

.widget-overflow-list {
  width: var(--wide-menu-panel-width);
}

/* In customize mode, the overflow list is constrained by its container,
 * so we set width: auto to avoid the scrollbar not fitting.
 */
#customization-panelHolder > .widget-overflow-list {
  width: auto;
}

toolbaritem[overflowedItem=true],
.widget-overflow-list .toolbarbutton-1 {
  width: 100%;
  max-width: var(--wide-menu-panel-width);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.widget-overflow-list .toolbarbutton-1 {
  -moz-box-align: center;
  -moz-box-orient: horizontal;
}

.widget-overflow-list .subviewbutton-nav::after {
  margin-inline-start: 10px;
  -moz-context-properties: stroke, fill-opacity;
  content: var(--icon-nav-right-sm);
  stroke: currentColor;
  fill-opacity: 0.6;
  float: inline-end;
}

.widget-overflow-list .subviewbutton-nav:-moz-locale-dir(rtl)::after {
  content: var(--icon-nav-left-sm);
}

toolbarpaletteitem[place="menu-panel"] > .subviewbutton-nav::after {
  opacity: 0.5;
}

.widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined) > .toolbarbutton-text {
  text-align: start;
  padding-inline-start: .5em;
}

.subviewradio {
  appearance: none;
  -moz-box-align: center;
  padding: 1px;
  margin: 0 0 2px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid transparent;
}

.subviewradio:not([disabled],[open],:active):is(:hover,:focus-visible) {
  background-color: var(--arrowpanel-dimmed);
  border-color: var(--panel-separator-color);
}

.subviewradio[selected],
.subviewradio[selected]:hover,
.subviewradio:not([disabled]):is([open],:hover:active) {
  background-color: var(--arrowpanel-dimmed-further);
  border-color: var(--panel-separator-color);
  box-shadow: 0 1px 0 hsla(210,4%,10%,.03) inset;
}

.subviewradio > .radio-check {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  margin: 1px 5px;
  background-color: #f1f1f1;
}

.subviewradio > .radio-check[selected] {
  background-color: #fff;
  border: 4px solid #177ee6;
}

.panel-header {
  align-items: center;
  border-bottom: 1px solid var(--panel-separator-color);
  display: flex;
  flex: 1 auto;
  height: 40px; /* fixed item height to prevent flex sizing; height + 2*4px padding */
  padding: 4px;
}

.panel-header > h1 {
  display: inline;
  flex: auto;
  font-size: inherit;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.panel-header > h1 > span {
 display: inline-block;
 white-space: pre-wrap;
}

.panel-header > .subviewbutton-back + h1 {
  /* Add the size of the back button to center properly. */
  margin-inline-end: 32px;
}

.panel-header > .subviewbutton-back {
  -moz-context-properties: stroke;
  stroke: var(--arrowpanel-color);
  list-style-image: var(--icon-nav-left-sm);
  padding: 10px;
}

.subviewbutton-back {
  transform: translateY(1px);
  margin: 0 4px;
}

.subviewbutton-back:-moz-locale-dir(rtl) {
  list-style-image: var(--icon-nav-right-sm);
}

.panel-header > .subviewbutton-back > .toolbarbutton-icon {
  width: 12px;
  height: 12px;
}

.subviewbutton-back > .toolbarbutton-text {
  /* !important to override .cui-widget-panel .toolbarbutton-text
   * selector further down. */
  display: none !important;
}

.subviewbutton.download {
  -moz-box-align: start;
  min-height: 48px;
  padding-inline-start: 8px;
}

.subviewbutton.download > .toolbarbutton-icon,
.subviewbutton.download > .toolbarbutton-text > label {
  margin: 4px 0 0;
}

.subviewbutton.download > .toolbarbutton-icon {
  width: 32px;
  height: 32px;
}

.subviewbutton.download > .toolbarbutton-text > .status-text {
  color: var(--panel-description-color);
  font-size: .9em;
}

.button-appmenu[badge-status] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
  display: -moz-box;
  height: 10px;
  width: 10px;
  background-size: contain;
  border: none;
}

.button-appmenu[badge-status="addon-alert"] > .toolbarbutton-badge-stack > .toolbarbutton-badge {
  height: 12px;
  margin-inline-end: -5px !important;
  background: url(chrome://messenger/skin/icons/warning-12.svg) center no-repeat transparent;
  box-shadow: none;
  border-radius: 0;
  -moz-context-properties: fill, stroke;
  fill: #ffec41;
  stroke: #d76e00;
}

.addon-banner-item::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-inline: 10px 0;
  display: -moz-box;
  background: url(chrome://global/skin/icons/warning.svg) no-repeat center;
}

:root[lwt-popup-brighttext] .addon-banner-item::after {
  -moz-context-properties: fill;
  fill: #ffe900;
}

.addon-banner-item {
  appearance: none;
  font-weight: 600;
  margin: 0 8px 4px;
  padding-inline: 8px;
  padding-block: var(--appmenu-button-padding);
  -moz-image-region: rect(0, 16px, 16px, 0);
  box-sizing: border-box;
  box-shadow: none;
  color: var(--appmenu-warning-color);
  background-color: var(--appmenu-warning-background-color);
  border-top: 1px solid var(--appmenu-warning-border-color);
  border-inline: 1px solid var(--appmenu-warning-border-color);
  border-radius: var(--arrowpanel-menuitem-border-radius);
  transition: background-color;
}

.addon-banner-item:last-child {
  border-bottom: 1px solid var(--appmenu-warning-border-color);
}

.addon-banner-item:focus,
.addon-banner-item:hover {
  background-color: var(--appmenu-warning-background-color-hover);
}

.addon-banner-item:hover:active {
  background-color: var(--appmenu-warning-background-color-active);
}

menulist {
  border: 1px solid var(--button-border-color);
  background-color: var(--button-bgcolor);
}

menulist:not([disabled="true"],[open="true"]):hover,
menulist[open="true"]:not([disabled="true"]) {
  background-color: var(--button-hover-bgcolor);
  border-color: var(--button-border-color);
}

/* Font scaling */

#appMenu-fontSizeReduce-button {
  list-style-image: url("chrome://messenger/skin/icons/subtract-circle-fill.svg");
}
#appMenu-fontSizeEnlarge-button {
  list-style-image: url("chrome://messenger/skin/icons/add-circle-fill.svg");
}

#appMenu-fontSizeReduce-button:hover,
#appMenu-fontSizeReduce-button:focus,
#appMenu-fontSizeReduce-button:active,
#appMenu-fontSizeReset-button:hover,
#appMenu-fontSizeReset-button:focus,
#appMenu-fontSizeReset-button:active,
#appMenu-fontSizeEnlarge-button:hover,
#appMenu-fontSizeEnlarge-button:focus,
#appMenu-fontSizeEnlarge-button:active,
#appMenu-fullscreen-button:hover,
#appMenu-fullscreen-button:focus,
#appMenu-fullscreen-button:active {
  color: unset;
  background-color: unset;
  box-shadow: unset;
}

#appMenu-fontSizeReduce-button > .toolbarbutton-icon,
#appMenu-fontSizeEnlarge-button > .toolbarbutton-icon {
  width: 20px;
  height: 20px;
  -moz-context-properties: fill, stroke;
  fill: var(--button-color);
  /* the stroke color is used to fill the circle in the icon */
  stroke:var(--button-bgcolor, ButtonFace);
  border-radius: 50%;
  padding: 0;
}

#appMenu-fontSizeReset-button > .toolbarbutton-text {
  border-radius: 2px;
  min-width: calc(4ch + 8px);
  text-align: center;
}

#appMenu-fontSizeReset-button:hover > .toolbarbutton-text {
  background-color: var(--button-hover-bgcolor);
}
#appMenu-fontSizeReduce-button:hover > .toolbarbutton-icon,
#appMenu-fontSizeEnlarge-button:hover > .toolbarbutton-icon {
  stroke: var(--button-hover-bgcolor);
}

#appMenu-fontSizeReset-button:active > .toolbarbutton-text {
  background-color: var(--button-active-bgcolor);
}
#appMenu-fontSizeReduce-button:active > .toolbarbutton-icon,
#appMenu-fontSizeEnlarge-button:active > .toolbarbutton-icon {
  stroke: var(--button-active-bgcolor);
}

#appMenu-fontSizeReset-button:focus > .toolbarbutton-text {
  box-shadow: inset 0 0 0 2px var(--focus-outline-color);;
}
#appMenu-fontSizeReduce-button:focus > .toolbarbutton-icon,
#appMenu-fontSizeEnlarge-button:focus > .toolbarbutton-icon {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

#appMenu-fontSize-controls > .subviewbutton {
  margin-inline-start: 2px;
  padding: 4px 4px;
}

:root[uidensity="compact"] #appMenu-fontSizeReduce-button > .toolbarbutton-icon,
:root[uidensity="compact"] #appMenu-fontSizeEnlarge-button > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
}

:root[uidensity="touch"] #appMenu-fontSizeReduce-button > .toolbarbutton-icon,
:root[uidensity="touch"] #appMenu-fontSizeEnlarge-button > .toolbarbutton-icon {
  width: 24px;
  height: 24px;
}

.checkbox-description {
  margin-inline-start: 27px;
  font-size: 0.95rem;
  opacity: 0.8;
  margin-block: -5px 6px;
}
