/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * This file is imported as a UA stylesheet because the default tooltip is
 * built as native anonymous content.
 */

@media not (prefers-contrast) {
  tooltip {
    --tooltip-color: #15141a;
    --tooltip-background: #f9f9fa;
    --tooltip-border: #75747a;
  }

  @media (prefers-color-scheme: dark) {
    tooltip {
      --tooltip-color: #fbfbfe;
      --tooltip-background: #42414d;
      --tooltip-border: #82828e;
    }
  }
}

@media (prefers-contrast) {
  tooltip {
    --tooltip-color: FieldText;
    --tooltip-background: Field;
    --tooltip-border: FieldText;
  }
}

tooltip {
  font: message-box;
  max-width: 40em;
  background-color: var(--tooltip-background);
  color: var(--tooltip-color);
  border: 1px solid var(--tooltip-border);
  border-radius: 3px;
}
