# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

<menuseparator/>
    <menuitem id="enigmail_ctxImportKey"
              data-l10n-id="openpgp-ctx-import-key"
              oncommand="Enigmail.msg.handleAttachmentSel('importKey');"/>
    <menuitem id="enigmail_ctxDecryptOpen"
              data-l10n-id="openpgp-ctx-decrypt-open"
              oncommand="Enigmail.msg.handleAttachmentSel('openAttachment');"/>
    <menuitem id="enigmail_ctxDecryptSave"
              data-l10n-id="openpgp-ctx-decrypt-save"
              oncommand="Enigmail.msg.handleAttachmentSel('saveAttachment');"/>
    <menuitem id="enigmail_ctxVerifyAtt"
              data-l10n-id="openpgp-ctx-verify-att"
              oncommand="Enigmail.msg.handleAttachmentSel('verifySig');"/>
