# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### "Glean" and "Glean SDK" should remain in English.

about-glean-page-title = Acerca de Glean
about-glean-description = El <a data-l10n-name="glean-sdk-doc-link">SDK de Glean</a> es una biblioteca de recopilación de datos usada en productos de Mozilla. Esta página es para desarrolladores y testers que necesitan <a data-l10n-name="fog-debug-doc-link">configurar el estado de depuración y registro en el SDK de Glean</a>.
about-glean-warning = El mal uso de esta interfaz puede bloquear { -brand-short-name }.
tag-pings-label = Etiquetar todos los pings enviados con esta etiqueta
log-pings-label = ¿Registrar la carga de pings antes de enviar?
send-pings-label = Enviar el ping nombrado
controls-button-label = Enviar configuraciones
controls-button-label-verbose = Aplicar configuración y enviar ping
